{% case icon %}

	{% when 'icon-arrow-down' %}
		<svg xmlns="http://www.w3.org/2000/svg" width="11.414" height="6.207" viewBox="0 0 11.414 6.207" style="&#10;    width: 20px;&#10;    height: auto;&#10;">
            <defs>
                <style>
                    .cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round}
                </style>
            </defs>
            <path id="Icon_feather-chevron-down" d="M9 13.5l5 5 5-5" class="cls-1" data-name="Icon feather-chevron-down" transform="translate(-8.293 -12.793)"/>
        </svg>

{% endcase %}