<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

  <!-- Bag app: will not be loaded if you uninstall the app, or if the cart is disabled. -->
  {% if content_for_header contains 'bag-plugin-production.netlify.app' %}{% render 'bag-app' %}{% endif %}

  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
     
  
  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'lazysizes.js' | asset_url }}" as="script">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
   <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <style>*,::after,::before{box-sizing:border-box}body{margin:0}body,html{background-color:var(--color-body)}body,button{font-size:calc(var(--font-size-base) * 1px);font-family:var(--font-stack-body);font-style:var(--font-style-body);font-weight:var(--font-weight-body);color:var(--color-text);line-height:1.5}body,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.border-bottom{border-bottom:1px solid var(--color-border)}.btn--link{background-color:transparent;border:0;margin:0;color:var(--color-text);text-align:left}.text-right{text-align:right}.icon{display:inline-block;width:20px;height:20px;vertical-align:middle;fill:currentColor}.icon__fallback-text,.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) rect{fill:inherit;stroke:inherit}li{list-style:none}.list--inline{padding:0;margin:0}.list--inline>li{display:inline-block;margin-bottom:0;vertical-align:middle}a{color:var(--color-text);text-decoration:none}.h1,.h2,h1,h2{margin:0 0 17.5px;font-family:var(--font-stack-header);font-style:var(--font-style-header);font-weight:var(--font-weight-header);line-height:1.2;overflow-wrap:break-word;word-wrap:break-word}.h1 a,.h2 a,h1 a,h2 a{color:inherit;text-decoration:none;font-weight:inherit}.h1,h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);text-transform:none;letter-spacing:0}@media only screen and (max-width:749px){.h1,h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)}}.h2,h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);text-transform:uppercase;letter-spacing:.1em}@media only screen and (max-width:749px){.h2,h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)}}p{color:var(--color-body-text);margin:0 0 19.44444px}@media only screen and (max-width:749px){p{font-size:calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)}}p:last-child{margin-bottom:0}@media only screen and (max-width:749px){.small--hide{display:none!important}}.grid{list-style:none;margin:0;padding:0;margin-left:-30px}.grid::after{content:'';display:table;clear:both}@media only screen and (max-width:749px){.grid{margin-left:-22px}}.grid::after{content:'';display:table;clear:both}.grid--no-gutters{margin-left:0}.grid--no-gutters .grid__item{padding-left:0}.grid--table{display:table;table-layout:fixed;width:100%}.grid--table>.grid__item{float:none;display:table-cell;vertical-align:middle}.grid__item{float:left;padding-left:30px;width:100%}@media only screen and (max-width:749px){.grid__item{padding-left:22px}}.grid__item[class*="--push"]{position:relative}@media only screen and (min-width:750px){.medium-up--one-quarter{width:25%}.medium-up--push-one-third{width:33.33%}.medium-up--one-half{width:50%}.medium-up--push-one-third{left:33.33%;position:relative}}.site-header{position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header{border-bottom:1px solid var(--color-border)}}@media only screen and (min-width:750px){.site-header{padding:0 55px}.site-header.logo--center{padding-top:30px}}.site-header__logo{margin:15px 0}.logo-align--center .site-header__logo{text-align:center;margin:0 auto}@media only screen and (max-width:749px){.logo-align--center .site-header__logo{text-align:left;margin:15px 0}}@media only screen and (max-width:749px){.site-header__logo{padding-left:22px;text-align:left}.site-header__logo img{margin:0}}.site-header__logo-link{display:inline-block;word-break:break-word}@media only screen and (min-width:750px){.logo-align--center .site-header__logo-link{margin:0 auto}}.site-header__logo-image{display:block}@media only screen and (min-width:750px){.site-header__logo-image{margin:0 auto}}.site-header__logo-image img{width:100%}.site-header__logo-image--centered img{margin:0 auto}.site-header__logo img{display:block}.site-header__icons{position:relative;white-space:nowrap}@media only screen and (max-width:749px){.site-header__icons{width:auto;padding-right:13px}.site-header__icons .btn--link,.site-header__icons .site-header__cart{font-size:calc(((var(--font-size-base))/ (var(--font-size-base))) * 1em)}}.site-header__icons-wrapper{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}.site-header__account,.site-header__cart,.site-header__search{position:relative}.site-header__search.site-header__icon{display:none}@media only screen and (min-width:1400px){.site-header__search.site-header__icon{display:block}}.site-header__search-toggle{display:block}@media only screen and (min-width:750px){.site-header__account,.site-header__cart{padding:10px 11px}}.site-header__cart-title,.site-header__search-title{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;display:block;vertical-align:middle}.site-header__cart-title{margin-right:3px}.site-header__cart-count{display:flex;align-items:center;justify-content:center;position:absolute;right:.4rem;top:.2rem;font-weight:700;background-color:var(--color-btn-primary);color:var(--color-btn-primary-text);border-radius:50%;min-width:1em;height:1em}.site-header__cart-count span{font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:calc(11em / 16);line-height:1}@media only screen and (max-width:749px){.site-header__cart-count{top:calc(7em / 16);right:0;border-radius:50%;min-width:calc(19em / 16);height:calc(19em / 16)}}@media only screen and (max-width:749px){.site-header__cart-count span{padding:.25em calc(6em / 16);font-size:12px}}.site-header__menu{display:none}@media only screen and (max-width:749px){.site-header__icon{display:inline-block;vertical-align:middle;padding:10px 11px;margin:0}}@media only screen and (min-width:750px){.site-header__icon .icon-search{margin-right:3px}}.announcement-bar{z-index:10;position:relative;text-align:center;border-bottom:1px solid transparent;padding:2px}.announcement-bar__link{display:block}.announcement-bar__message{display:block;padding:11px 22px;font-size:calc(((16)/ (var(--font-size-base))) * 1em);font-weight:var(--font-weight-header)}@media only screen and (min-width:750px){.announcement-bar__message{padding-left:55px;padding-right:55px}}.site-nav{position:relative;padding:0;text-align:center;margin:25px 0}.site-nav a{padding:3px 10px}.site-nav__link{display:block;white-space:nowrap}.site-nav--centered .site-nav__link{padding-top:0}.site-nav__link .icon-chevron-down{width:calc(8em / 16);height:calc(8em / 16);margin-left:.5rem}.site-nav__label{border-bottom:1px solid transparent}.site-nav__link--active .site-nav__label{border-bottom-color:var(--color-text)}.site-nav__link--button{border:none;background-color:transparent;padding:3px 10px}.site-header__mobile-nav{z-index:11;position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header__mobile-nav{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}}.mobile-nav--open .icon-close{display:none}.main-content{opacity:0}.main-content .shopify-section{display:none}.main-content .shopify-section:first-child{display:inherit}.critical-hidden{display:none}</style>
 
  <script>
    window.performance.mark('debut:theme_stylesheet_loaded.start');

    function onLoadStylesheet() {
      performance.mark('debut:theme_stylesheet_loaded.end');
      performance.measure('debut:theme_stylesheet_loaded', 'debut:theme_stylesheet_loaded.start', 'debut:theme_stylesheet_loaded.end');

      var url = "{{ 'theme.css' | asset_url }}";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="print" onload="this.media='all';onLoadStylesheet()">
  <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}" type="text/css"/>
  <link rel="stylesheet" href="{{ 'custom2.css' | asset_url }}" type="text/css"/>
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" type="text/css"/>
  <link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}" type="text/css"/>

  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      },
      stylesheet: "{{ 'theme.css' | asset_url }}"
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ 'parallmax.js' | asset_url }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script>

  {{ content_for_header }}
  
  <link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" type="text/css"/>

  <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
  
  

	{{ shop.metafields.loox["global_html_head"] }}
</head>

<body class="template-{{ request.page_type | handle }} template--{{ template.name }}-{{ template.suffix }} template--{{ template.name }}">
<script>!function(){window.SLIDECART=!0;window.SLIDECART_FORMAT='{{shop.money_format}}';var e="https://cdn.jsdelivr.net/gh/apphq/slidecart-dist@master/slidecarthq.js?"+(new Date).getTime(),t=document.createElement("script");t.type="text/javascript",t.src=e,document.querySelector("body").appendChild(t)}();</script>
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
  {%- endif -%}

  {% section 'header2' %}

  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

<!--     {% section 'footer' %} -->
    {% section 'insta' %}
    {% section 'newsletter' %}
    {% section 'emdesh__footer' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  <script>
    var checkExist = setInterval(function() {
  if (jQuery(".footer-row strong.flex").length) {
    var html = jQuery(".flex").html();
    jQuery(".footer-row strong.flex").append("<span> :</span>");
    console. log("Exists!" );
    clearInterval(checkExist);
  }
}, 100);
 
       var checkExists = setInterval(function() {
  if (jQuery(".button.full").length) {
    var html = jQuery(".button.full").html();
    jQuery(".button.full").append("<span> now</span>");
    console. log("Exists!" );
    clearInterval(checkExists);
  }
}, 100);
    
         var checkExist_s = setInterval(function() {
  if (jQuery("#slidecart-checkout-form").length) {
    var html = jQuery("#slidecart-checkout-form").html();
    jQuery("#slidecart-checkout-form").append("<p>Shipping & taxes calculated at checkout</p>");
    console. log("Exists!" );
    clearInterval(checkExist_s);
  }
}, 100);
    
    
   
   
    
    window.SLIDECART_LOADED = function(cart) {
       var check_Exists = setInterval(function() {
    if (jQuery("#slidecarthq .header .cart-count").length) {
  //     set();
      jQuery.getJSON("/cart.js", function(res){
        $('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
      });
      console. log("Exists!" );
      clearInterval(check_Exists);
    }
    
  }, 100);
//       if($("#slidecarthq .empty").length){
// 		  jQuery.getJSON("/cart.js", function(res){
//             $('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
//           });
// 	  }
    var check_Exis = setInterval(function() {
  if (jQuery("#slidecarthq .cart-count").length) {
    set2();
    console. log("Exists!" );
    clearInterval(check_Exis);
  }
}, 100);
//     function set(){
//     	var html = "<button class='copy_remove'>REMOVE</button>";
//     	jQuery(".main-bottom").append(html);
//     }
    function set2(){
    	jQuery("#slidecarthq .remove").addClass("cross");
    }
 }
    window.SLIDECART_UPDATED = function(cart) {
       var check_Exists = setInterval(function() {
  if (jQuery("#slidecarthq .header .cart-count").length) {
//     set();
    jQuery.getJSON("/cart.js", function(res){
      $('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
    });
    console. log("Exists!" );
    clearInterval(check_Exists);
  }
}, 100);
    var check_Exis = setInterval(function() {
  if (jQuery("#slidecarthq .remove").length) {
    set2();
    console. log("Exists!" );
    clearInterval(check_Exis);
  }
}, 100);
//     function set(){
//     	var html = "<button class='copy_remove'>REMOVE</button>";
//     	jQuery(".main-bottom").append(html);
//     }
    function set2(){
    	jQuery("#slidecarthq .remove").addClass("cross");
    }
    }
    window.SLIDECART_ADD_TO_CART = function({ id, quantity }) {
     var check_Exists = setInterval(function() {
  if (jQuery("#slidecarthq .header .cart-count").length) {
    jQuery.getJSON("/cart.js", function(res){
      $('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
    });
//     set();
    console. log("Exists!" );
    clearInterval(check_Exists);
  }
}, 100);
    var check_Exis = setInterval(function() {
  if (jQuery("#slidecarthq .remove").length) {
    set2();
    console. log("Exists!" );
    clearInterval(check_Exis);
  }
}, 100);
//     function set(){
//     	var html = "<button class='copy_remove'>REMOVE</button>";
//     	jQuery(".main-bottom").append(html);
//     }
    function set2(){
    	jQuery("#slidecarthq .remove").addClass("cross");
    }
}
    window.SLIDECART_OPENED = function() {
   var check_Exists = setInterval(function() {
  if (jQuery("#slidecarthq .remove").length) {
    set();
    console. log("Exists!" );
    clearInterval(check_Exists);
  }
}, 100);
    var check_Exis = setInterval(function() {
  if (jQuery("#slidecarthq .header .cart-count").length) {
    set2();
    jQuery.getJSON("/cart.js", function(res){
      $('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
    });
    console. log("Exists!" );
    clearInterval(check_Exis);
  }
}, 100);
    function set(){
    	var html = "<button class='copy_remove'>REMOVE</button>";
      	jQuery(".copy_remove").remove();
    	jQuery(".main-bottom").append(html);
    }
    function set2(){
    	jQuery("#slidecarthq .remove").addClass("cross");
    }
}
    jQuery(function($){
    
    $(window).on('load', function() {
        // PARALLAX FUNCTIN CALL
//         $(".parallax-object").paralmax();
    });
  
});
    jQuery(".show_more").click(function(){
    $(this).parent().find(".para-none").css("display","block");
    $(this).parent().find(".show_less").css("display","block");
    $(this).parent().find(".turncate").css("display","none");
    jQuery(this).css("display","none");
});
     jQuery(".show_less").click(function(){
    $(this).parent().find(".para-none").css("display","none");
    $(this).parent().find(".show_more").css("display","block");
    $(this).parent().find(".turncate").css("display","block");
    jQuery(this).css("display","none");
});
//     jQuery(".show_more").click(function(){
//    jQuery(".para-none").css("display","block");
//    jQuery(".show_less").show();
//    jQuery(".turncate").css("display","none");
//   jQuery(this).css("display","none");
// });
    
//     jQuery(".show_less").click(function(){
//    jQuery(".para-none").css("display","none");
//    jQuery(".show_more").show();
//    jQuery(".turncate").css("display","block");
//   jQuery(this).css("display","none");
// });
  </script>
  <script>
  	var checkExistss = setInterval(function() {
	  if (jQuery("#slidecarthq .header h2").length) {
        var count, text = "";
        text = $('#slidecarthq .header h2').text();
		count = text.split(' ');
        jQuery.getJSON("/cart.js", function(res){
          	$('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
        });
		console.log("Exists!" );
		clearInterval(checkExistss);
	  }
	}, 100);
  </script>
  <script>
    $(document).ready(function(){
    	$('.home-s').slick({
          
          dots: true,
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          adaptiveHeight: true
          
        });
    });
  </script>
  
  <script>
    
 $('.product_content h6').on('click', function(){
    $(this).find(".fa").toggleClass('transforme');
});
    
  </script>
  
<script>

  $(document).on("click","[aria-label='decrease quantity']", function(){
    console.log("clicked on me");
    setTimeout(function(){
        jQuery.getJSON("/cart.js", function(res){
          $('#slidecarthq .header h2').html("Your Bag <span class='cart-count'>"+res.item_count+"</span>");
        });
    },1000);
});
  
</script>
  
<script>
  
 $(window).scroll(function(){
  var sticky = $('.site-header__mobile-nav'),
      scroll = $(window).scrollTop();

  if (scroll >= 100) sticky.addClass('fixed');
  else sticky.removeClass('fixed');
}); 
  
</script>

<script>
  
 $(window).scroll(function(){
  var sticky = $('.site-header__mobile-nav'),
      scroll = $(window).scrollTop();

  if (scroll >= 100) sticky.addClass('for_header_tranforme');
  else sticky.removeClass('for_header_tranforme');
}); 
  
</script>
  
  
<script>
// $(document).ready(function(){
//         $("#siteNav")
//         $("#SiteNav").append('<li> 	 </li>');
//     });

// </script>  
  

	{{ shop.metafields.loox["global_html_body"] }}
</body>
</html>
