<style>
/*   .backimg
  {
    background-image:url("{{ section.settings.back_img | img_url:'large' }}");
     height:600px;
    background-repeat: no-repeat;
    background-size: cover;
   } */


  .position_relative {
  	position: relative;
  }
  .skin_content marquee {  
    text-align: center;
}
.bg_img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* z-index: 9; */
    left: -88px;
    top: -129px;
}
  .perform_img {
    padding: 80px;
    padding-top: unset;
}
  .bg_img_mobile {
    display: none;
}
  .perform_content {
    padding-inline: 30px;
}
  
/* 9-14-21 */  
  
     .container.performance {
    padding-block: 15px;
    margin-top:5%;
}
  
/*End 9-14-21 */   
  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    
	.perform_img {
    padding: 25px;
    padding-top: unset;
}  
    .perform_content p {
    font-size: 10px;
}
    .perform_content h5 {
    font-size: 30px;
}
    .about-banner .text-center .mega-subtitle p {
    font-size: 12px;
    font-weight: 600;
}
    .bg_img_mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* z-index: 9; */
    left: -19px;
    top: -20px;
}
    .bg_img2 {
    display: none;
}
    .bg_img_mobile {
    display: block;
}

    .container.performance {
    padding-block: 15px;
}
    
}
   @media only screen and (max-width: 768px) {
     
    .perform_content p {
    font-size: 17px; 
}
 
     .perform_content h5 {
    font-size: 25px;
}
     .bg_img_mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: -30px;
    top: -30px;
}
     .bg_img2 {
    display: none;
}
  
    .perform_img {
    padding: 35px;
    padding-inline:15px;  
}
    .container.our_beauty {
    display: none;
}
    .row.image .col-md-12 h1
    {
     font-size:24px;
    }
    .perform_content {
    padding-inline:15px;
}
     .row.image .col-md-12 p
     {
       margin:15px auto;
     }
   
  }
  @media only screen and (min-width: 1600px) and (max-width: 1919px) {
  
  
    .perform_content p {
    font-size: 18px;
}
}
    @media only screen and (min-width:1920px) {
  
  
    .perform_content p {
    font-size: 18px;
}
}
   @media only screen and (min-width: 770px) and (max-width: 990px) {
     
  	.perform_content {
    padding-top: 43px;
} 
     .perform_content h5 {
    font-size: 26px;
}
}
  @media only screen and (min-width: 2560px) and (max-width: 2560px) {
    
  .container {
 max-width: 1600px;
}
    .perform_content p {
 font-size: 32px;
}
}
   @media only screen and (min-width:1025px){
  .container.our_beauty {
    display: none;
}
   }
  #shopify-section-about .row.image {
    display: none;
}
  #shopify-section-about .rowss
  {
   display:none;
  }
</style>
<div class="down_ward backimg">
  <img class="pic1" src="{{ section.settings.imge1 | img_url:'300x300' }}">
<div class="container">
  <h1>{{ section.settings.heading }}</h1>
  <div class="row">
    <div class="col-md-12">
      <p>{{ section.settings.para }}</p>
    </div>
  </div>
</div>
   <img class="pic2" src="{{ section.settings.imge2 | img_url:'310x310' }}">
</div>
<div class="containers what_stand">
  <div class="container">
  <img class="pic3" src="{{ section.settings.imge3 | img_url:'310x310' }}">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="first-sec-heading">{{ section.settings.stand }}</h1>
    </div>
    <div class="col-md-4">
      <div class="circle">
       <img src="{{ section.settings.icon1 | img_url }}">
      </div>
      <div class="circle_content">
        <h5>{{ section.settings.circle_heading }}</h5>
        <p>{{ section.settings.circle_description }}</p>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="circle hidden">
       <img src="{{ section.settings.icon2 | img_url }}">
      </div>
      <div class="circle_content">
         <h5>{{ section.settings.circle_heading1 }}</h5>
         <p>{{ section.settings.circle_description1 }}</p>
      </div>  
    </div>
    <div class="col-md-4">
       <div class="circle">
       <img src="{{ section.settings.icon3 | img_url }}">
      </div>
       <div class="circle_content">
         <h5>{{ section.settings.circle_heading2 }}</h5>
         <p>{{ section.settings.circle_description2 }}</p>
       </div>  
    </div>
  </div>
</div>
</div>

<div class="container performance">
  {% for block in section.blocks %}
   {% if block.type == 'images' %}
  <div class="row {% if forloop.index == 1 %} position_relative  {% endif %}">
    {% if forloop.index == 1 %}
    <div class="bg_img2" style="background-image:url('{{ section.settings.back_img1 | img_url:'400x400'}}')"></div>
    <div class="bg_img_mobile" style="background-image:url('{{ section.settings.back_img_mobile | img_url:'200x200'}}')"></div>
    {% endif %}
    <div class="col-md-6">
     	<div class="bg_img">
      		<div class="perform_img"><img src="{{ block.settings.img1 | img_url:'master' }}"></div>
      	</div>
    </div>
    <div class="col-md-6">
      <div class="perform_content">
        <h5>{{ block.settings.performance_heading }}</h5>
        <div>{{ block.settings.performance_description }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="container shop_formula">
  <div class="row">
    <div class="col-md-12">
      <h3>Our Formulas Are Always Free Of</h3>
    </div>
    {% for block in section.blocks %}
     {% if block.type == 'List' %}
    <div class="col-md-4">
      <ul>
        <li>{{ block.settings.list1 }}</li>
        <li>{{ block.settings.list2 }}</li>
        <li>{{ block.settings.list3 }}</li>
        <li>{{ block.settings.list4 }}</li>
      </ul>
    </div> 
    {% endif %}
    {% endfor %}
  </div>
</div>
<!-- end section -->

<!-- next section -->

<div class="container our_beauty">
  <div class="row">
    <div class="col-md-12">
      <h3>Our Clean Beauty Standards</h3>
    </div>
    {% for block in section.blocks %}
    {% if block.type == 'block-2' %}
    <div class="col-md-4 tst">
      <div class="circle">
        <img src="{{ block.settings.icons | img_url:'master' }}">
      </div>
      <div class="circle_content">
        <h5>{{ block.settings.circle_heading }}</h5>
        <p>{{ block.settings.circle_description }}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="container product_our">
   <h1>Our Products Are</h1>
 <div class="row">
<div class="col-md-12 card-deck">
   <div class="card">
     <div><img src="{{ section.settings.img-product1 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt1}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product2 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt2}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product3 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt3}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product4 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt4}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product5 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt5 }}</h5>
    </div>
  </div>
  <div class="card">
     <div><img src="{{ section.settings.img-product6 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt6 }}</h5>
    </div>
  </div>
</div>
</div>
  <a href="#"><p class="more">More About Our Clean Beauty Standards</p></a>
</div>
<div class="rowss">
    <div class="cols">
      <div class="skin_slider">
        <div class="skin_content"><marquee>{{ section.settings.slider_content1 }}</marquee></div>
      </div>
      <p>{{ section.settings.slider_content2 }}</p>
    </div>
  </div>

<div class="row image">
  <img src="https://cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientsBanner_V1_1920x.png?v=1630325464">
  <div class="col-md-12">
    <h1 class="f-Gotham f-b fs-1">{{ section.settings.index_text1 }}</h1>
    <p><a href="#">{{ section.settings.index_text2 }}</a></p>
  </div>
</div>

<div class="about__guide">
<div class="row-image">
  <img src="https://cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientsBanner_V1_1920x.png?v=1630325464">
  <div class="col-md-12">
    <h1>{{ section.settings.guide-heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
    <a>{{ section.settings.bttn }}</a>
  </div>
</div>
</div>



{% schema %}
  {
    "name": "About",
    "settings": [
     {
		  "type": "image_picker",
          "id": "imge1",
          "label": "Add Image"
		},
        {
		  "type": "image_picker",
          "id": "imge2",
          "label": "Add Image"
		},
        {
		  "type": "image_picker",
          "id": "imge3",
          "label": "Add Image"
		},
    
     {
       "type":"text",
       "id":"heading",
        "label":"Add heading"
     },
     {
       "type":"richtext",
       "id":"para",
        "label":"Text"
     },
    {
      "type":"text",
      "id":"stand",
      "label":"What we stand for"
    },
   {
      "type":"image_picker",
      "id":"icon1",
      "label":"Add icon"
    },
    {
      "type":"text",
      "id":"circle_heading",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"circle_description",
      "label":"Description"
    },
      {
      "type":"image_picker",
      "id":"icon2",
      "label":"Add icon"
    },
    {
      "type":"text",
      "id":"circle_heading1",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"circle_description1",
      "label":"Description"
    },
     {
      "type":"image_picker",
      "id":"icon3",
      "label":"Add icon"
    },
    {
      "type":"text",
      "id":"circle_heading2",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"circle_description2",
      "label":"Description"
    },
    {
      "type":"image_picker",
      "id":"back_img1",
      "label":"Add image"
    },
    {
      "type":"image_picker",
      "id":"back_img_mobile",
      "label":"Add image"
    },
        {
          "type": "image_picker",
          "id": "img-product1",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt1",
          "label": "image content text1"
        },
        {
          "type": "image_picker",
          "id": "img-product2",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt2",
          "label": "image content text2"
        },
        {
          "type": "image_picker",
          "id": "img-product3",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt3",
          "label": "image content text3"
        },
        {
          "type": "image_picker",
          "id": "img-product4",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt4",
          "label": "image content text4"
        },
        {
          "type": "image_picker",
          "id": "img-product5",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt5",
          "label": "image content text6"
        },
        {
          "type": "image_picker",
          "id": "img-product6",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt6",
          "label": "image content text5"
        },
        {
        "type":"text",
        "id":"slider_content1",
        "label":"Slider content"
       },
        {
        "type":"text",
        "id":"slider_content2",
        "label":"Slider content"
       },
        {
         "type":"text",
        "id":"index_text1",
        "label":"Index text"
       },
       {
        "type":"text",
        "id":"index_text2",
        "label":"Link"
       },
       { 
         "type":"text",
         "id":"guide-heading",
         "label":"Heading"
       },
       { 
         "type":"text",
         "id":"subheading",
         "label":"Sub Heading"
       },
       { 
         "type":"text",
         "id":"bttn",
         "label":"Button Text"
       }
        
         
],
"blocks":[{
	"name": "image_content",
	"type": "images",
	"settings":[
      {
      "type":"image_picker",
      "id":"img1",
      "label":"Add image"
    },
    {
      "type":"text",
      "id":"performance_heading",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"performance_description",
      "label":"Description"
    }
]
},
 {
	"name": "List_Text",
	"type": "List",
	"settings":[
        {
       "type": "text",
       "id": "list1",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list2",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list3",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list4",
       "label": "List Content"
        }

]
},
{
        "type": "block-2",
        "name": "Block 2",
        "settings": [
       {
         "type":"image_picker",
          "id":"icons",
          "label":"Add icon"
      },
        {
       "type": "text",
       "id": "circle_heading",
       "label": "Circle Content"
        },
        {
       "type": "text",
       "id": "circle_description",
       "label": "Circle Content"
        }
      ]
     }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
