<style>
.ingredient_index
  {
    background-image:url("{{ section.settings.background_image_2 | img_url:'1920x'}}");
    height:400px;
    background-position:center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
  }
  .ingredient_index p {
    text-align: center;
    background: white;
    padding: 5px;
    width: 145px;
    margin: 0px auto;
  }
</style>


<div class="ingredient_index">
  <div>
  	<h1>{{ section.settings.index_text1 }}</h1>
    <p><a href="{{ section.settings.btn_link }}">{{ section.settings.index_text2 }}</a></p>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
	  {
		"type": "image_picker",
		"id": "background_image_2",
		"label": "Background"
	  },
	  {
		"type": "text",
		"id": "index_text1",
		"label": "Title"
	  },
	  {
		"type": "text",
		"id": "index_text2",
		"label": "Button Text"
  	  },
	  {
		"type": "url",
		"id": "btn_link",
		"label": "Button Link"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
