<style>
 .connect h1 {
    color: #686058;
    font-family: Baskerville;
    font-size: 55px;
    margin-bottom: 30px;
}
  .connect p {
    font-size: 20px;
    font-family: 'Gotham';
    font-weight: bold;
    color: #686058;
}
h1.contact_head {
    text-align: left;
    font: normal normal normal 67px/62px Baskerville;
    letter-spacing: 0px;
    color: #686058;
    opacity: 1;
    padding: 0px 0px 0px 120px;
}
.connect {
    max-width: 560px;
    margin-left:50px;
}
p.connect_description {
    font-size: 17px;
    letter-spacing: 0.2px;
}
.service_section {
    max-width: 520px;
    margin-left: 50px;
    padding-top: 60px;
}
h1.service_head {
    text-align: left;
    font: normal normal normal 33px/44px Baskerville;
    letter-spacing: 0px;
    color: #686058;
}
p.service_description {
    text-align: left;
    font: normal normal normal 15px/32px Gotham;
    letter-spacing: 0px;
    color: #686058;
    opacity: 1;
    line-height: 25px;
}
.collaboration {
/*     max-width: 520px; */
    margin-left: 50px;
    padding-top: 73px;
    padding-bottom: 110px;
}
h1.cols_head {
    text-align: left;
    font: normal normal normal 33px/44px Baskerville;
    letter-spacing: 0px;
    color: #686058;
    opacity: 1;
}
p.cols_description {
    text-align: left;
    font: normal normal normal 15px/32px Gotham;
    letter-spacing: 0px;
    color: #686058;
    opacity: 1;
    line-height: 25px;
}
  
  @media only screen and (max-width: 768px) {

  .connect {
     max-width:90%;
    margin-left: 0;
}
p.connect_description {
    font-size: 10px;
}
.connect h1 {
    font-size: 38px;
}
.service_section {
    max-width: 90%;
    margin-left:0;
    padding-top: 40px;
}
h1.service_head {
    font: normal normal normal 23px/28px Baskerville;
}
p.service_description {
    font: normal normal normal 10px/32px Gotham;
    line-height: 15px;
}
.collaboration {
    max-width: 90%;
    margin-left: 0;
    padding-top: 40px;
    padding-bottom: 80px;
}
h1.cols_head {
    font: normal normal normal 23px/28px Baskerville;
}
p.cols_description {
    font: normal normal normal 10px/32px Gotham;
    line-height: 15px;
}
  
}
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    
    	.footer_link div {
    line-height: 14px!important;
    font-size: 7px!important;
}
}
</style>
<div class="container">
  <div class="row">
    	  <div class="col-md-12">
             <div class="col-md-6 connect">
            	<h1 class="connect_head">Let's Connect</h1>
                <p class="connect_description">We’d love to hear from you. Get in touch by emailing us at info@emdashbeauty.com and we’ll get back to you within 2 business days.</p>
             </div>
             <div class="col-md-6 service_section">
            	  <h1 class="service_head">Customer Service:</h1>
                  <p class="service_description">Questions about your order? Need skincare advice? We’ve got you covered. We respond to emails M-F 9am to 5pm PST excluding holidays. info@emdashbeauty.com</p>
             </div>
             <div class="col-md-6 collaboration">
                  <h1 class="cols_head">Collaborations:</h1>
                  <p class="cols_description">We’re always looking for up and coming influencers. collabs@emdashbeauty.com</p>
          	 </div>
          </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
