<div class="container de-coding">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>{{ section.settings.heading }}
      </h1>
      <p>{{ section.settings.sub-heading }}</p>
      <div class="input_search">
       
        <input type="text" placeholder="SEARCH INGREDIENTS OR TOPICS">
        <span class="search"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container skincare-ques">
  <div class="row">
     {% for block in section.blocks %}
    <div class="col-md-6">
       <img src="{{ block.settings.img1 | img_url:'640x460' }}">
      <div class="ques"><h2>{{ block.settings.ques }}</h2></div>
      <div class="turncate"><p>{{ block.settings.ans }}</p></div>
      <div class="para-none"><p>{{ block.settings.ans }}</p></div>
      <div class="show_less">
        <span>SHOW LESS</span>
        <span><i class="fa fa-angle-up"></i></span>
      </div>
      <div class="show_more">
        <span>SHOW MORE</span>
        <span><i class="fa fa-angle-down"></i></span>     
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container load_more">
   <a class="load-more">LOAD MORE</a>
</div>
{% schema %}
  {
    "name": "Decoding-skincare",
    "settings": [
     {
       "type":"text",
       "id":"heading",
       "label":"Heading"
     },
     {
       "type":"text",
       "id":"sub-heading",
       "label":"Sub Heading"
     }
   ],
   "blocks":[{
	"name": "skincare",
	"type": "skin",
	"settings":[
      {
       "type": "image_picker",
       "id": "img1",
       "label": "Add Image"
        },
        {
       "type": "text",
       "id": "ques",
       "label": "Add Ques"
        },
       {
       "type": "richtext",
       "id": "ans",
       "label": "Add Ans"
        }
]
}]
  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
<script>
  
  if ($('.skincare-ques .col-md-6').length > 3) {
    $('.skincare-ques .col-md-6:gt(2)').hide();
    $('.container.load_more').show();
  }

  $('.load-more').on('click', function() {
    $('.skincare-ques .col-md-6:gt(2)').toggle();
    $(this).text() === 'LOAD MORE' ? $(this).text('LESS MORE') : $(this).text('LOAD MORE');
  });
  


</script>
