<style>
   
  
 section.footer_desh {
    background: #686058;
}
  .emdesh_footer {
    text-align: center;
    width: 100%;
    padding: 25px;
    padding-top:5px;
}
  .footer_signup {
    color: white;
}
  .footer_signup {
    color: #f7f6f4;
    font-size: 20px;
    letter-spacing: 0px;
    font-family: 'Gotham';
}
  .footer_input {
    margin-top: 15px;
    margin-bottom: 15px;
}
  .footer_icon ul {
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    color: white;
}
  .footer_icon ul li {
    margin: 5px;
}
  .footer_link {
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: space-evenly;
    width:100%;
}
  .footer_link div
  {
    width:33.333333%;
    line-height: 28px;
    font-size: 15px;
    font-family: 'Gotham';
  }
  .first_link ul li a {
    color: #ffffff;
    font-family: 'Gotham';
}
  .first_link ul li a:hover {
    color: #ffffff;
}
  
/* 14-9-21 */  
  
input#Contact_newsletter-email {
    text-align: center;
    outline:none;
} 
  
/* END 14-9-21 */

  
  
@supports (-webkit-touch-callout: none) {
    @media only screen and (max-width:768px){
      body p
      {
      font-family:-apple-system!important;
      }
    .footer_link div
    {
      font-family:-apple-system;
    } 
      .first_link ul li a
      {
       font-family:-apple-system;
      }
      
    }
}
</style>
{%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}

<section class="footer_desh">
<div class="container">
   <div class="row">
     <div class="emdesh_footer">
<!--         <div class="footer_signup">Sign Up to Stay Active</div> -->
<!--         <div class="footer_input"><input type="text" placeholder="youremail@.com"></div> -->
        <div class="footer_icon">
          
          <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item">
                  <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message">
                    {%- include icon_link -%}
                    <span class="icon__fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
<!--           <ul>
            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
            <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
            <li><i class="fa fa-pinterest" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          </ul> -->
        </div> 
       <div class="footer_link">
         {% for block in section.blocks %}
         <div class="first_link">
           <ul>
             <li><a href="{{ block.settings.list1_link }}">{{ block.settings.list1 }}</a></li>
             <li><a href="{{ block.settings.list2_link }}">{{ block.settings.list2 }}</a></li>
             <li><a href="{{ block.settings.list3_link }}">{{ block.settings.list3 }}</a></li>
           </ul>
         </div>
        {% endfor %}
     </div>
     </div>   
   </div>
</div>
</section>
{% schema %}
  {
    "name": "Footer",
    "settings": [
    
],
"blocks":[{
	"name": "footer",
	"type": "foot",
	"settings":[
      {
     "type":"text",
     "id":"list1",
      "label":"Text"
    },
    {
     "type":"url",
     "id":"list1_link",
      "label":"link"
    },
    {
     "type":"text",
     "id":"list2",
      "label":"Text"
    },
     {
     "type":"url",
     "id":"list2_link",
      "label":"link"
    },
    {
     "type":"text",
     "id":"list3",
      "label":"Text"
    },
    {
     "type":"url",
     "id":"list3_link",
      "label":"link"
    }
       
]
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
