<div class="down_ward container">
  	<div class="row">
      {% for product in collections[section.settings.home_collection].products %}
      	<div class="col-lg-3 col-md-6 col-sm-12 featured_product_div">
          <div class="product_image_Section">
            <a class="Product_url_cusotm" href="{{ product.url }}"><img src="{{ product.images[0] | img_url: "350x350" }}"/></a>
          </div>
          <div class="product_detail_Section">
            <a class="Product_url_cusotm" href="{{ product.url }}">   <span class="product_title">{{ product.title }}</span></a>
            <a class="Product_url_cusotm" href="{{ product.url }}">   <span class="product_price">{{ product.price | money }}</span></a>
            
          </div>
          <div class="shop_pro_view">
        {%comment%}    <a href="{{ product.url }}">SHOP NOW</a> {%endcomment%}
           
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
              <input type="submit" value="SHOP NOW"/>
            </form>
              </div>
      	</div>
      {% endfor %}
  	</div>
</div>
<style>
  .shop_pro_view a
  {
    border: none;
    padding: 10px;
    color: #f7f6f4;
    font-size: 14px;
    background: #686058;
    letter-spacing: 1.5px;
    text-decoration: none !important;
  }
</style>
{% schema %}
  {
    "name": "Featured Product Section",
	"class": "featured_product_section",
    "settings": [
		{
		"type":"collection",
		"id":"home_collection",
		"label":"Choose Collection"
		}
	],
	"presets": [
      {
        "name": "Featured Product Section"
      }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
