<div class="backimg">
  {% if section.settings.imge1 != blank%}
    <img class="pic1" src="{{ section.settings.imge1 | img_url:'300x300' }}" />
  {% endif%}

  {% if section.settings.heading != blank%}
    <div class="container block block-title">
      <h1>{{ section.settings.heading }}</h1>
    </div>
  {% endif%}

  <div class="container block block-richtext m-top">
    <div class="block_wrapper">
      {% if section.settings.para != blank%}
        {{ section.settings.para }}
      {% endif%}
    </div>
  </div>

  {% if section.settings.imge2 != blank%}
     <img class="pic2" src="{{ section.settings.imge2 | img_url:'310x310' }}">
  {% endif%}
</div>


<div class="what_stand">
  {% if section.settings.imge3 != blank%}
  	<img class="pic3" src="{{ section.settings.imge3 | img_url:'310x310' }}">
  {% endif%}
  <div class="container what_stand block block-what_stand m-top">
    <div class="row">
      <div class="col-md-12 text-center">
        {% if section.settings.stand != blank%}
          <h1 class="first-sec-heading">{{ section.settings.stand }}</h1>
        {% endif%}
      </div>
      <div class="col-md-4">
        <div class="circle">
          {% if section.settings.icon1 != blank%}
            <img src="{{ section.settings.icon1 | img_url }}">
          {% endif %}
        </div>
        <div class="circle_content">
          {% if section.settings.circle_heading != blank%}
            <h5>{{ section.settings.circle_heading }}</h5>
          {% endif %}
          {% if section.settings.circle_description != blank%}
            <p>{{ section.settings.circle_description }}</p>
          {% endif %}
        </div>  
      </div>
      <div class="col-md-4">
        <div class="circle hidden">
          {% if section.settings.icon2 != blank%}
            <img src="{{ section.settings.icon2 | img_url }}">
          {% endif %}
        </div>
        <div class="circle_content">
          <h5>{{ section.settings.circle_heading1 }}</h5>
          <p>{{ section.settings.circle_description1 }}</p>
        </div>  
      </div>
      <div class="col-md-4">
        <div class="circle">
          {% if section.settings.icon3 != blank%}
            <img src="{{ section.settings.icon3 | img_url }}">
          {% endif %}
        </div>
        <div class="circle_content">
          {% if section.settings.circle_heading2 != blank%}
            <h5>{{ section.settings.circle_heading2 }}</h5>
            {% endif %}
            {% if section.settings.circle_description2 != blank%}
                <p>{{ section.settings.circle_description2 }}</p>
            {% endif %}
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="rowss block block-skin__slider m-top">
    <div class="cols">
      <div class="skin_slider">
        <div class="skin_content">
          {% if section.settings.slider_content1 != blank %}
          	<marquee>{{ section.settings.slider_content1 }}</marquee>
          {% endif %}
        </div>
      </div>
      {% if section.settings.slider_content2 != blank %}
        <a href="{{ section.settings.slider_content2_link}}">
             <p>{{ section.settings.slider_content2 }}</p>
        </a>
      {% endif %}
    </div>
  </div>

<div class="middle_pro block block-banner">
  <div class="row">
    {% if section.settings.pro_banner != blank %}
    	<img src="{{ section.settings.pro_banner | img_url:'master' }}">
    {% endif %}
    <div class="col-md-12">
            <h1>Reveal Your Brilliance</h1>
            <p>Multi-Acid blend gently exfoliates and unclogs pores for renewed texture and vibrance.</p>
            <div class="shop_proview shop_pro_view">
              <a href="https://emdashbeauty.myshopify.com/pages/shop-page">SHOP NOW</a>
              {% comment %}
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
              <input type="submit" value="SHOP NOW"/>
            </form>
              {% endcomment %}
            </div>   
  </div>
  </div>
</div>

<div class="container block block-image__text__row">
    
  {% if section.settings.first_image != blank %}
    <div class="image-text-row">
      <div class="image_wrapper">
        <img src="{{ section.settings.first_image | img_url:"680x" }}"/>
      </div>
      <div class="content_wrapper">
        {% if section.settings.subheading != blank %}
          <div class="block_heading">{{ section.settings.subheading }}</div>
        {%endif%}
        {% if section.settings.paragraph != blank %}
          <div class="text">
            {{ section.settings.paragraph }}
          </div>
        {%endif%}
        {% if section.settings.btn_text != blank and section.settings.btn_link != blank %}
          <div class="btn-section">
            <a href="{{ section.settings.btn_link }}" class="btn btn-grey">{{ section.settings.btn_text }}</a>
          </div>
        {%endif%}
      </div>
    </div>
  {% endif %}

  {% if section.settings.second_image != blank %}
    <div class="image-text-row reverse">
      <div class="image_wrapper">
        <img src="{{ section.settings.second_image | img_url:"680x" }}"/>
      </div>
      <div class="content_wrapper">
        {% if section.settings.subheading2 != blank %}
          <div class="block_heading">{{ section.settings.subheading2 }}</div>
        {%endif%}
        {% if section.settings.paragraph2 != blank %}
          <div class="text">{{ section.settings.paragraph2 }}</div>
        {%endif%}
        {% if section.settings.btn_link2 != blank and section.settings.btn_text2 != blank %}
          <div class="btn-section">
            <a href="{{ section.settings.btn_link2 }}" class="btn btn-grey">{{ section.settings.btn_text2 }}</a>
          </div>	
        {%endif%}
      </div>
    </div>
  {% endif %}

  {% if section.settings.third_image != blank %}
    <div class="image-text-row">
      <div class="image_wrapper">
        <img src="{{ section.settings.third_image | img_url:"680x" }}"/>
      </div>
      <div class="content_wrapper">
        {% if section.settings.subheading3 != blank %}	
          <div class="block_heading">{{ section.settings.subheading3 }}</div>
        {%endif%}
        {% if section.settings.paragraph3 != blank %}
          <div class="text">{{ section.settings.paragraph3 }}</div>
        {%endif%}
        {% if section.settings.btn_link3 != blank and section.settings.btn_text3 != blank %}
          <div class="btn-section">
            <a href="{{ section.settings.btn_link3 }}" class="btn btn-grey">{{ section.settings.btn_text3 }}</a>
          </div>	
        {%endif%}
      </div>
    </div>
  {% endif %}
    
</div>



<div class="container shop_formula desktop">
  <div class="row">
    <div class="col-md-12">
      <h3>Our Formulas Are Always Free Of</h3>
    </div>
    {% for block in section.blocks %}
     {% if block.type == 'formulas' %}
    <div class="col-md-4 desktop">
      <ul>
        <li>{{ block.settings.list1 }}</li>
        <li>{{ block.settings.list2 }}</li>
        <li>{{ block.settings.list3 }}</li>
        <li>{{ block.settings.list4 }}</li>
      </ul>
    </div> 
    {% endif %}
    {% if block.type == 'formulas-mobile' %}
    <div class="col-md-4 mobile">
      <ul>
        <li>{{ block.settings.list_mbl_1 }}</li>
        <li>{{ block.settings.list_mbl_2 }}</li>
        <li>{{ block.settings.list_mbl_3 }}</li>
        <li>{{ block.settings.list_mbl_4 }}</li>
        <li>{{ block.settings.list_mbl_5 }}</li>
        <li>{{ block.settings.list_mbl_6 }}</li>
      </ul>
    </div> 
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="container product_our block m-top block-product__out">
   <h1>Our Products Are</h1>
 <div class="row">
<div class="col-md-12 card-deck">
   <div class="card">
     {% if section.settings.img-product1 != blank %}
     <div><img src="{{ section.settings.img-product1 | img_url:"large" }}" class="card-img-top" alt="..."></div>
     {%endif%}
    <div class="card-body">
      {% if section.settings.content_txt1 != blank %}
      <h5 class="card-title">{{ section.settings.content_txt1}}</h5>
      {%endif%}
    </div>
  </div>
   <div class="card">
     {% if section.settings.img-product2 != blank %}
     <div><img src="{{ section.settings.img-product2 | img_url:"large" }}" class="card-img-top" alt="..."></div>
     {%endif%}
    <div class="card-body">
      {% if section.settings.content_txt2 != blank %}
      <h5 class="card-title">{{ section.settings.content_txt2}}</h5>
      {%endif%}
    </div>
  </div>
   <div class="card">
     {% if section.settings.img-product3 != blank %}
     <div><img src="{{ section.settings.img-product3 | img_url:"large" }}" class="card-img-top" alt="..."></div>
     {%endif%}
    <div class="card-body">
      {% if section.settings.content_txt3 != blank %}
      <h5 class="card-title">{{ section.settings.content_txt3}}</h5>
      {%endif%}
    </div>
  </div>
    <div class="card">
      {% if section.settings.img-product4 != blank %}
     <div><img src="{{ section.settings.img-product4 | img_url:"large" }}" class="card-img-top" alt="..."></div>
      {%endif%}
    <div class="card-body">
      {% if section.settings.content_txt4 != blank %}
      <h5 class="card-title">{{ section.settings.content_txt4}}</h5>
      {%endif%}
    </div>
  </div>
    <div class="card">
      {% if section.settings.img-product5 != blank %}
     <div><img src="{{ section.settings.img-product5 | img_url:"large" }}" class="card-img-top" alt="..."></div>
      {%endif%}
    <div class="card-body">
      {% if section.settings.content_txt5 != blank %}
      <h5 class="card-title">{{ section.settings.content_txt5}}</h5>
      {%endif%}
    </div>
  </div>
  <div class="card">
    {% if section.settings.img-product6 != blank %}
     <div><img src="{{ section.settings.img-product6 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    {%endif%}
    <div class="card-body">
      {% if section.settings.content_txt6 != blank %}
      <h5 class="card-title">{{ section.settings.content_txt6 }}</h5>
      {%endif%}
    </div>
  </div>
</div>
</div>

  <div class="btn_wrapper">
    <a href="https://emdashbeauty.myshopify.com/pages/skin_infographic" class="btn btn-grey">OUR CLEAN BEAUTY MISSION</a>
  </div>
  
</div>


<div class="row image">
  <img src="https://cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientsBanner_V1_1920x.png?v=1630325464">
  <div class="col-md-12">
    {% if section.settings.index_text1 != blank %}
    <h1>{{ section.settings.index_text1 }}</h1>
    {%endif%}
    {% if section.settings.index_text2 != blank %}
    <p><a href="https://emdashbeauty.myshopify.com/pages/ingredients">{{ section.settings.index_text2 }}</a></p>
    {%endif%}
  </div>
</div>
<style>
  .shop_pro_view a
  {
    border: none;
    padding: 10px;
    color: #f7f6f4;
    font-size: 14px;
    background: #686058;
    letter-spacing: 1.5px;
    text-decoration: none !important;
  }
  .shop_proview.shop_pro_view
  {
    text-align: left;
    margin: 0;
  }
</style>
{% schema %}
  {
    "name": "Formula Design Section",
	"class": "formula-design-section",
    "settings": [
        {
		  "type": "image_picker",
          "id": "imge1",
          "label": "Add Image"
		},
        {
		  "type": "image_picker",
          "id": "imge2",
          "label": "Add Image"
		},
        {
		  "type": "image_picker",
          "id": "imge3",
          "label": "Add Image"
		},
        {
		  "type": "text",
          "id": "heading",
          "label": "Add Heading"
		},
        {
		  "type": "richtext",
          "id": "para",
          "label": "Text"
		},
         {
      "type":"text",
      "id":"stand",
      "label":"What we stand for"
    },
   {
      "type":"image_picker",
      "id":"icon1",
      "label":"Add icon"
    },
    {
      "type":"text",
      "id":"circle_heading",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"circle_description",
      "label":"Description"
    },
      {
      "type":"image_picker",
      "id":"icon2",
      "label":"Add icon"
    },
    {
      "type":"text",
      "id":"circle_heading1",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"circle_description1",
      "label":"Description"
    },
     {
      "type":"image_picker",
      "id":"icon3",
      "label":"Add icon"
    },
    {
      "type":"text",
      "id":"circle_heading2",
      "label":"Heading"
    },
    {
      "type":"text",
      "id":"circle_description2",
      "label":"Description"
    },
		{
      "type": "header",
      "content": "Image text rows"
    }
    ,
        {
          "type": "image_picker",
          "id": "first_image",
          "label": "First Image"
        },
		{
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
    {
          "type": "richtext",
          "id": "paragraph",
          "label": "Pargraph",
          "default": "<p>Content Here!</p>"
        },
		{
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        },
		{
          "type": "image_picker",
          "id": "second_image",
          "label": "Second Image"
        },
		{
          "type": "text",
          "id": "subheading2",
          "label": "Subheading 2",
          "default": "Subheading Here"
        },
		{
          "type": "richtext",
          "id": "paragraph2",
          "label": "Pargraph 2",
          "default": "<p>Content Here!</p>"
        },
		{
          "type": "text",
          "id": "btn_text2",
          "label": "Button text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "btn_link2",
          "label": "Button link"
        }
        ,
        {
          "type": "image_picker",
          "id": "third_image",
          "label": "Second Image"
        },
        {
          "type": "text",
          "id": "subheading3",
          "label": "Subheading 3",
          "default": "Subheading Here"
        },
		{
          "type": "richtext",
          "id": "paragraph3",
          "label": "Pargraph 3",
          "default": "<p>Content Here!</p>"
        },
		{
          "type": "text",
          "id": "btn_text3",
          "label": "Button text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "btn_link3",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "slider_content1",
          "label": "Slider text"
        },
        {
          "type": "text",
          "id": "slider_content2",
          "label": "Slider text"
        },
        {
        "type": "url",
        "id": "slider_content2_link",
        "label": "Slider text link"
        },
        {
          "type": "image_picker",
          "id": "pro_banner",
          "label": "Add image"
        },
        {
          "type": "image_picker",
          "id": "img-product1",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt1",
          "label": "image content text1"
        },
        {
          "type": "image_picker",
          "id": "img-product2",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt2",
          "label": "image content text2"
        },
        {
          "type": "image_picker",
          "id": "img-product3",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt3",
          "label": "image content text3"
        },
        {
          "type": "image_picker",
          "id": "img-product4",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt4",
          "label": "image content text4"
        },
        {
          "type": "image_picker",
          "id": "img-product5",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt5",
          "label": "image content text5"
        },
        {
          "type": "image_picker",
          "id": "img-product6",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt6",
          "label": "image content text6"
        },
        {
         "type":"text",
        "id":"index_text1",
        "label":"Index text"
       },
       {
        "type":"text",
        "id":"index_text2",
        "label":"Link"
       }
        

	],
     "blocks":[{
	"name": "our_formulas",
	"type": "formulas",
	"settings":[
      {
       "type": "text",
       "id": "list1",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list2",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list3",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list4",
       "label": "List Content"
        }
]
},
{
        "type": "formulas-mobile",
        "name": "formulas-mobile",
        "settings": [
          {
            "type": "text",
            "id": "list_mbl_1",
            "label": "List Content"
          },
          {
            "type": "text",
            "id": "list_mbl_2",
            "label": "List Content"
          },
          {
            "type": "text",
            "id": "list_mbl_3",
            "label": "List Content"
          },
          {
            "type": "text",
            "id": "list_mbl_4",
            "label": "List Content"
          },
          {
            "type": "text",
            "id": "list_mbl_5",
            "label": "List Content"
          },
          {
            "type": "text",
            "id": "list_mbl_6",
            "label": "List Content"
          }
        ]
      }],
	"presets": [
      {
        "name": "Formula Design Section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
