<div class="home-slider">
  <div class="home-s">
      {%- for block in section.blocks -%}
    <div class="slide_block">
          <img class="home_img" src="{{ block.settings.image | img_url: 'master' }}">
          <div class="home_slider_text">
            <div class="text_s">
            <h1>{{ block.settings.title }}</h1>
            <p>{{ block.settings.text }}</p>
            <a class="home_btn" href="{{ block.settings.btn_lk }}">{{ block.settings.btn_text }}</a>
            </div>
<!--             <div class="bottom_arrow"><a href="#shopify-section-1630049045e02c9e57"><img src="https://cdn.shopify.com/s/files/1/0519/8685/8180/files/arrow.png?v=1632197323"></a></div> -->
      </div>
    </div>
      {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Home Slider",
    "settings": [

				],
				"blocks": [
							{
								"type": "image",
								"name": "Image",
								"settings": [
												{
                                                    "type": "image_picker",
                                                    "id": "image",
                                                    "label": "IMage"
                                                },
                                                {
                                                    "type": "text",
                                                    "id": "title",
                                                    "label": "Title"
                                                },
                                                {
                                                    "type": "text",
                                                    "id": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "type": "text",
                                                    "id": "btn_text",
                                                    "label": "Button Text"
                                                },
                                                {
                                                    "type": "url",
                                                    "id": "btn_lk",
                                                    "label": "Button Link"
                                                }
											]
							}
						  ],
						"presets": [
										{
											"name": "Home Slider"
										}
									]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
