

<style>
  .ingredients {
   background-image:url("{{ section.settings.ingredient_backimg | img_url:'1920x'}}");
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
     background-position:bottom;
     }
  .main-content
  {
   padding-top:unset;
  }
  
  .text-center .search {
    text-align: left;
   }
  
  
  .ingredient_card .card-body
    {
     padding:10px !important;
    }
  
  .col-md-12.list_term {
     padding:unset;
  
  } 
  
  i.fa.fa-tint {
    background: transparent url(img/Emdash_IngredientBenefit_Icons-02.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    
/*     position: absolute; */
    bottom: 52px;
    right: -52px;
	}
  	.ingredient_card .list_term p {
    font-size: 12px !important;
    margin: 0px;
    font-family: 'Gotham';
   
	}
  
  .ingredient_card p.card-text {
    margin-bottom:30px;
  }
  
.ingredient_card  .row.list_icon{
    margin:0px;
  }
  
  .ingredient_card .row.list_icon2 {
     margin:unset; 
   }
  
  	.ingredient_card  .list_term {
    font-size: 12px;
      padding:unset;
	}
  
  .col-md-12.beauty-icon {
    text-align: right;
    font-size:30px;
    margin-bottom:30px;
}
  
 .ingredient_card  .col-md-4.beauty-icon{
     padding:unset;
  }
  
  .ingredient_card .col-md-12{
  padding:unset;
  } 
/*  on click  */
  .load-more{
  background-color:#000;
  color:#fff !important;
  padding:5px 10px;
  border-radius:4px;
  font-size:20px;
  margin:50px 0;
  display:inline-block;
}

.load-more:hover{
  text-decoration:none;
}
  .show-more {
    text-align: center;
  }
  

  @media only screen and (max-device-width: 1024px){
    #shopify-section-hero2 h2.h1.mega-title.mega-title--large {
    font-size:22px;
}
    
  .col-md-12.beauty-icon {
    text-align: right;
    font-size: 15px;
}
    
    .ingredient_card .card p.card-text {
    margin-bottom: 70px;
}   
    
  
  } 
  

 
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
  
  .text-center .mega-subtitle, .mega-title{
    
     width:50%;
    
    }
  
  
.ingredient_card .row {
    -ms-flex-wrap: wrap;
    grid-template-columns: repeat(2,50%);
  
}
  
.ingredient_card .col-lg-4.col-md-4.col-sm-1 {
    max-width: 100%;
}
 
  
.ingredient_card .row .col-md-4 .card {
    width: 100%;
    height: 100% !important;
}  
  
  
 .ingredient_card .col-md-4.beauty-icon {
    text-align: right;
    padding-bottom:0px;
   max-width: 100%;  
}
 .ingredient_card .row.list_icon2 {
    display: flex;
    flex-flow: row;
    padding-left: 0px;
    padding-right: 0px;
    align-items:center;
    margin: unset;
}
  
  .ingredient_card .col-lg-4.col-md-4.col-sm-1{
      display:none;  
}  
  
 .ingredient_card .col-lg-4.col-md-4.col-sm-1:nth-child(-n+6){
    display:block !important;
} 
  
   .ingredient_card .load-more {
     text-align:center;
    background-color: unset !important;
    color: #686058 !important;
    padding: 0px !important;
    border-radius: none !important;
    font-size: 15px !important;
    margin: 30px 0 !important;
    
} 
    
.ingredient_card .load-more {
    display: block !important;
}    
  
}
  

@media screen and (min-device-width: 768px) and (max-device-width: 768px){
  
  .ingredient_card h5.card-title {
    font-size: 20px;
}
  
 .ingredient_card .row {
    margin-right: -15px;
    margin-left: -15px;
}
  
 .container.ingredient_card {
    margin-top: -150px;
} 
  
  
  
.ingredient_card .row.list_icon2 {
    display: flex !important;
    flex-flow: row;
    padding-left: 0px;
    padding-right: 0px;
    align-items:center;
}
  
  
.ingredient_card h6.card-subtitle.mb-2.text-muted {
    font-size: 16px !important;
    line-height: 22px !important;
}
  
.ingredient_card .list_term p {
    font-size: 12px !important;
   
	} 
  
   .ingredient_card .col-lg-4.col-md-4.col-sm-1{
      display:none;  
}  
  
 .ingredient_card .col-lg-4.col-md-4.col-sm-1:nth-child(-n+6){
    display:block !important;
} 
    
.ingredient_card .load-more {
    display: block !important;
}    
  
  
}  
  
  
  
@media only screen and (max-width: 768px){
    
  .text-center .mega-subtitle, .mega-title{ 
     width:80%;   
    }
  .ingredient_card h6.card-subtitle.mb-2.text-muted {
    padding-bottom: 0px !important;
}   
    
  .ingredient_card .fa-tint:before {
    font-size: 30px !important;
}
    .ingredient_card .row .col-md-4 {
    height: 100% !important;
  }
  
  .ingredient_card .list_term p {
    font-size: 11px !important;
   
	} 
  
 .ingredient_card  .col-md-12{
  padding:unset;
  } 
  
.ingredient_card .row .col-md-4 .card {
    width: 100%;
    height: 100% !important;
}
  
 .ingredient_card .col-md-8.list_term {
    padding-left: 0px;
    padding-right: 0px;
    width: 70%;
}
  
.ingredient_card .col-md-4.beauty-icon {
    text-align: right;
    padding-bottom:0px;
    width: 30%;
}
  .ingredient_card .row .col-md-4 {
    
    padding-left: 10px;
    padding-right: 10px;

}

 .ingredient_card .row.list_icon2 {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-left: 0px;
    padding-right: 0px;
    align-items:flex-end;
}
  
.ingredient_card  .load-more {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
  .ingredient_card .load-more {
    background-color: unset !important;
    color: #686058 !important;
    padding: 0px !important;
    border-radius: none !important;
    font-size: 15px !important;
    margin: 30px 0 !important;
    
}

} 
  
  
  
@media screen and (min-device-width: 576px) and (max-device-width: 767px) { 
    
  .ingredient_card  .row {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
}
  
 .ingredient_card .col-sm-1 {
    max-width: 100%;  
 } 
  
  
   .ingredient_card .col-lg-4.col-md-4.col-sm-1{
      display:none;  
}  
  
 .ingredient_card .col-lg-4.col-md-4.col-sm-1:nth-child(-n+6){
    display:block !important;
} 
    
.ingredient_card .load-more {
    display: block !important;
}    
  
   
}   
  
@media screen and (min-device-width: 480px) and (max-device-width: 576px) { 
    
  .ingredient_card  .row {
    margin: unset;
}  
}
  
  @media screen and (min-device-width: 280px) and (max-device-width: 325px){
    
  .ingredient_card .row .col-md-4 .card {
    width: 100%;
    height: 100% !important;
}
  
 .ingredient_card .col-md-8.list_term {
    padding-left: 0px;
    padding-right: 0px;
    width: 60%;
}
  
.ingredient_card .col-md-4.beauty-icon {
    text-align: right;
    padding-bottom:0px;
    width: 40%;
}
 
  
}  
 
  
  @media only screen and (min-width:1920px){
    .template-product #slidecarthq .slidecarthq.right {
     max-width:100% !important;
    } 
    
  }
  	
</style>
<!-- <div class="ingredients">
  <div class="container banner_content">
    <div class="row">
      <div class="col-md-6">
        <h1>The complete ingredients Index</h1>
        <input type="text" placeholder="Type to search">
      </div>
       <div class="col-md-6">
      
      </div>
    </div>
  </div>
</div> -->
<div class="container ingredient_card down_ward">
  <h1>What Ingredient Are You Looking For?</h1>
<!--   <form class="search" action="/search">
    <input type="text" placeholder="Type to Search" name="q" value="{{ search.terms | escape }}"  />
    {% comment %}
    <input type="submit" value="Search" />
    {% endcomment %}
  </form> -->
  <div class="search"><input type="text" placeholder="Type to Search"></div>
  <div class="row">
    {% for block in section.blocks %}
    <div class="col-lg-4 col-md-4 col-sm-1">
       <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ block.settings.title }}</h5>
            <div class="ctm_text">
              <h6 class="card-subtitle mb-2 text-muted">{{ block.settings.sub_title }}</h6>
              <p class="card-text">{{ block.settings.card_text }}</p>
            </div>
            <div class="col-md-12 for-fixed-text">
              <div class="row list_icon">      
                 <div class="col-md-12 beauty-icon">
                      {% if block.settings.icon  %}
                <span><img src="{{ block.settings.icon | img_url }}"></span>
                   {% endif %}
                    {% if block.settings.icon1  %}
                <span><img src="{{ block.settings.icon1 | img_url }}"></span>
                    {% endif %}
                     {% if block.settings.icon2  %}
                <span><img src="{{ block.settings.icon2 | img_url }}"></span>
                   {% endif %}
              </div> 
               
            </div>
            <div class="row list_icon2">        
               <div class="col-md-8 list_term">{{ block.settings.list }}</div>
                <div class="col-md-4 beauty-icon">
                <span>{{ block.settings.blog_icon }}</span>
              </div>   
            </div>
            </div>
          </div>
       </div>
    </div>
    {% endfor %}
  </div>
  <div class="show-more"><u>Show more</u></div>
  {% comment %}
  <div class="view_less"><a class="less-more" href="#"><u> View Less </u></a></div>
  <div><a class="load-more" href="#"><u> Load More Ingredients </u></a></div>
  {% endcomment %}
</div>
<div class="rowss">
    <div class="cols">
      <div class="skin_slider">
        <div class="skin_content"><marquee>{{ section.settings.slider_content1 }}</marquee></div>
      </div>
      <p>{{ section.settings.slider_content2 }}</p>
    </div>
</div>

<script>
$(".container.ingredient_card input").on("keyup", function() {
  var value = $(this).val().toLowerCase();
  $(".card").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
  });
});
</script>

{% schema %}
  {
    "name": "Ingredients",
    "settings": [
    {
     "type":"image_picker",
     "id":"ingredient_backimg",
     "label":"Add image"
     },
     {
       "type": "text",
       "id": "slider_content1",
       "label": "Text"
        },
       {
       "type": "text",
       "id": "slider_content2",
       "label": "Text"
        }
],
"blocks":[{
	"name": "Card",
	"type": "ingredients",
	"settings":[
      {
       "type": "text",
       "id": "title",
       "label": "Title"
        },
        {
       "type": "text",
       "id": "sub_title",
       "label": "Subtitle"
        },
        {
       "type": "text",
       "id": "card_text",
       "label": "Text"
        },
        {
       "type": "image_picker",
       "id": "icon",
       "label": "Icon"
        },
        {
       "type": "image_picker",
       "id": "icon1",
       "label": "Icon"
        },
        {
       "type": "image_picker",
       "id": "icon2",
       "label": "Icon"
        },
        {
       "type": "richtext",
       "id": "list",
       "label": "List"
        }
        
        
]
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  
  if ($('.col-md-4').length > 3) {
    $('.col-md-4:gt(4)').hide();
    $('.show-more').show();
  }

  $('.show-more').on('click', function() {
    //toggle elements with class .ty-compact-list that their index is bigger than 2
    $('.col-md-4:gt(4)').toggle();
    //change text of show more element just for demonstration purposes to this demo
    $(this).text() === 'Show more' ? $(this).text('Show less') : $(this).text('Show more');
  });
  
//     $(function () {
//             $(".col-md-4").slice(0, 3).show();
//             $("body").on('click touchstart', '.load-more', function (e) {
//                 e.preventDefault();
//                 $(".col-md-4:hidden").slice(0, 3).slideDown();
//                 if ($(".col-md-4:hidden").length == 0) {
//                     $(".load-more").css('visibility', 'hidden');
//                 }
//                 $('html,body').animate({
//                     scrollTop: $(this).offset().top
//                 }, 1000);
//             });
//         });

</script>
