<div class="container policy">
  <div class="row">
    <div class="col-md-12 privacy">
      <h1>{{ section.settings.heading }}</h1>
      <p>{{ section.settings.subheading }}</p>
      <h6>{{ section.settings.description }}</h6>
    </div>
  </div>
</div>
<div class="container privacy_block">
  <h3>Index</h3>
  <div class="row">
     {% for block in section.blocks %}
    {% if block.type == 'policy' %}
    <div class="col-md-6">
      <ul>
        <li>{{ block.settings.list }}</li>
      </ul>
    </div>
   {% endif %}
    {% endfor %}
    
  </div>
</div>
<div class="container policy_block">
  <div class="row">
     {% for block in section.blocks %}
    {% if block.type == 'policy_copy' %}
    <div class="col-md-12">
      <h1>{{ block.settings.headings }}</h1>
      <p>{{ block.settings.descritpions }}</p>
    </div>
    {% endif %}
    {% endfor %}
   
  </div>
  <div class="back_top"><h6>Back to Top</h6></div>
</div>
{% schema %}
  {
    "name": "privacy policy",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
     },
     {
        "type":"text",
        "id":"subheading",
        "label":"Sub-Heading"
     },
     {
        "type":"text",
        "id":"description",
        "label":"Description"
     }
],
"blocks":[
{
	"name": "privacy_policy",
	"type": "policy",
	"settings":[
         {
       "type": "text",
       "id": "list",
       "label": "List"
        }
        
]
},
{
"name": "privacy_policy_2",
	"type": "policy_copy",
	"settings":[
      
         {
       "type": "text",
       "id": "headings",
       "label": "Heading"
        },
       {
       "type": "richtext",
       "id": "descritpions",
       "label": "Description"
        }
        
]
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  $(".back_top h6").on('click', function(e) {
     e.preventDefault();
     var target = $(this).attr('href');
     $('html, body').animate({
       scrollTop: ($(".policy").offset().top)
     }, 2000);
  });
</script>