<!-- next section -->
<div class="container shop_formula">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ section.settings.formula_2 }}</h3>
    </div>
    {% for block in section.blocks %}
    
    <div class="col-md-4">
      <ul>
        <li>{{ block.settings.list1 }}</li>
        <li>{{ block.settings.list2 }}</li>
        <li>{{ block.settings.list3 }}</li>
        <li>{{ block.settings.list4 }}</li>
      </ul>
    </div> 
    
    {% endfor %}
  </div>
</div>

<!-- end section -->


<!-- next section -->
<div class="container product_our">
   <h1>Our Products Are</h1>
 <div class="row">
<div class="col-md-12 card-deck">
   <div class="card">
     <div><img src="{{ section.settings.img-product1 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt1}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product2 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt2}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product3 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt3}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product4 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt4}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product5 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt5}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product6 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt6 }}</h5>
    </div>
  </div>
</div>
</div>
  <a href="#"><p class="more">More About Our Clean Beauty Standards</p></a>
</div>
<!-- end section -->

<!-- next section -->
{% if product.metafields.my_fields.overnight_guide_true == "true" %}
<div class="about__guide">
<div class="row-image">
  <img src="https://cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientsBanner_V1_1920x.png?v=1630325464">
  <div class="col-md-12">
    <h1>{{ product.metafields.my_fields.overnight_guide_head }}</h1>
    <p>{{ product.metafields.my_fields.overnight_guide_subhead }}</p>
    <a>{{ product.metafields.my_fields.overnight_guide_btn }}</a>
  </div>
</div>
</div>
{% else %}
<div class="row image">
  <img src="https://cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientsBanner_V1_1920x.png?v=1630325464">
  <div class="col-md-12">
    <h1>{{ section.settings.index_text1 }}</h1>
    <p><a href="#" class="button_new_w">{{ section.settings.index_text2 }}</a></p>
  </div>
</div>
{% endif %}
<!-- end section -->

{% schema %}
  {
    "name": "Product Section",
    "settings": [{
       "type" : "text",
       "id" : "formula",
       "label" : "Heading"
      },
     {
         "type":"collection",
         "id":"collectss",
         "label":"Add collection"
     },
      {
        "type":"text",
        "id":"more_about",
        "label":"More about"
      },
      {
          "type": "image_picker",
          "id": "img-product1",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt1",
          "label": "image content text1"
        },
        {
          "type": "image_picker",
          "id": "img-product2",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt2",
          "label": "image content text2"
        },
        {
          "type": "image_picker",
          "id": "img-product3",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt3",
          "label": "image content text3"
        },
        {
          "type": "image_picker",
          "id": "img-product4",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt4",
          "label": "image content text4"
        },
        {
          "type": "image_picker",
          "id": "img-product5",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt5",
          "label": "image content text5"
        },
        {
          "type": "image_picker",
          "id": "img-product6",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt6",
          "label": "image content text6"
        },
       {
         "type":"text",
        "id":"index_text1",
        "label":"Index text"
       },
       {
        "type":"text",
        "id":"index_text2",
        "label":"Link"
       },
        {
       "type": "text",
       "id": "beauty_standard",
       "label": "Circle Content"
        },
        {
       "type": "text",
       "id": "formula_2",
       "label": "Formula content"
        }  
],
"blocks":[{
	"name": "List_Text",
	"type": "List",
	"settings":[
        {
       "type": "text",
       "id": "list1",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list2",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list3",
       "label": "List Content"
        },
        {
       "type": "text",
       "id": "list4",
       "label": "List Content"
        }

]
}
]
      
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
