<div class="container shipping">
  <div class="row">
    <div class="col-md-6 shipping_heading">
      <h1>{{ section.settings.heading }}</h1>
      <p>{{ section.settings.description }}</p>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<div class="container shipping_block">
  {% for block in section.blocks %}
      <div class="returns">
        <h1>{{ block.settings.headings }}</h1>
        <p>{{ block.settings.descriptions }}</p>
      </div>
  {% endfor %}
  <div class="back_top"><h6>Back to Top</h6></div>
</div>
{% schema %}
  {
    "name": "Shipping Returns",
    "settings": [
     {
     "type":"text",
     "id":"heading",
     "label":"Heading"
     },
     {
     "type":"text",
     "id":"description",
     "label":"Description"
     }
],
"blocks":[{
	"name": "Shipping_returns",
	"type": "shipping",
	"settings":[
      {
     "type":"text",
     "id":"headings",
      "label":"Heading"
    },
    {
     "type":"richtext",
     "id":"descriptions",
      "label":"Description"
    }
       
]
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
  $(".back_top h6").on('click', function(e) {
     e.preventDefault();
     var target = $(this).attr('href');
     $('html, body').animate({
       scrollTop: ($(".shipping").offset().top)
     }, 2000);
  });
</script>
