<style>
  .main-content
  {
   padding-top:unset;
  }
  .shop_page
  {
    background-image:url("{{ section.settings.background_image | img_url: 'master'}}");
    height:100vh;
    background-position:inherit;
    align-items: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
  }
  .banner_cont h1 {
    font-size: 50px;
    color: #686158;
    font-family:'Gotham';
    letter-spacing: 0px;
    text-shadow: 0 0 black;
}
  .banner_cont p {
    font-size: 18px;
    font-family: 'Gotham';
    font-weight: 600;
}
  span.product-title {
    text-align: center;
    display: block;
    margin-top: 60px;
    font-family: 'Baskervville';
    margin-bottom: 5px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
   span.product-price {
    text-align: center;
    display: block;
    font-size: 15px;
    font-family: 'Gotham';
    margin-bottom: 15px;
    font-weight: bold;
}
.shop_product span.product-title {
    width: 100%;
    margin-top: 50px;
    margin: 0px auto;
}
 
  .shop_product_our .row .col-md-3 span.product-name {
    margin-top: 15px;
}

  .container.shop_product_our {
    padding-top: 30px;
    padding-bottom:30px;
}
 .shop_product_our h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Gotham';
    font-weight: bold;
}
  .shop_product_our p {
    text-align: center;
    text-decoration:underline;
}
  .shop_product_our .row {
    padding-top: 40px;
    padding-bottom: 40px;
}
  .ingredient_index
  {
     background-image:url("{{ section.settings.background_image_2 | img_url:'1920x'}}");
      height:400px;
      background-position:center;
      background-size: cover;
      align-items: center;
    justify-content: center;
    display: flex;
  }
  .ingredient_index p {
    text-align: center;
    background: white;
    padding: 5px;
    width:145px;
    margin:0px auto;
}
  .ingredient_index p a
  {
      text-decoration: none!important;
  }
  .ingredient_index h1 {
/*     font-size: 50px; */
/*     font-family: 'Baskervville'; */
/*     text-align:center; */
    color: #686058;
}
  .cols-setting img {
    width: 100%;
}
  .container.shop_product
  {
   margin-top:50px;
  }
  @media only screen and (max-width:767px)
  {
    .shop_product_our .row .col-md-3 {
    margin-bottom: 25px;
}
    .banner_cont h1
    {
      font-size:25px;
      width:70%;
    }
    .banner_cont p
    {
     font-size:16px;
      width:70%;
    }
    .shop_page
    {
     height:30vh;
    background-size: cover;
    background-attachment: unset;
    }
      .container.shop_product {
    margin-top:15px;
} 
    span.product-price
    {
     margin-bottom:12px;
      margin-top:15px;
    }
  }
  @media screen and (min-width:768px) and (max-width:900px)
  {
    .shop_page
    {
      height: 60vh;
      background-position: top;
      width: 100vw;
      align-items: center;
      justify-content: center;
      display: flex;
      background-repeat: no-repeat;
      background-attachment: fixed;
/*       background-size: auto; */
    }
    .banner_cont h1
    {
      font-size: 40px;
      padding-top: 0%;
    }
  }

  @media only screen and (max-width:2560px) and (max-width:2560px) {
  
  	div#SiteNavLabel-about {
    text-align: center;
/*     width: 267px; */
    }
  }
  
  @media only screen and (min-width:1920px){
    .banner_cont h1 {
    font-size: 45px !important; 
  }
  .shop_pro_view a
  {
    border: none;
    padding: 10px;
    color: #f7f6f4;
    font-size: 14px;
    background: #686058;
    letter-spacing: 1.5px;
    text-decoration: none !important;
  }
    
</style>
<section class="shop_page parallax-window" data-parallax="scroll" data-image-src="">
  <div class="container banner_cont">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ section.settings.banner_heading }}</h1>
        <p>{{ section.settings.banner_description }}</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="iconss page-scroll-btn">
  	{% render 'icon' with 'icon-arrow-down' %}
  </div>
</section>
<div class="down_ward container shop_product">
    <div class="row">
      {% for block in section.blocks %}
           {% assign featured_Collection = collections[block.settings.collects]%}
           {% for product in featured_Collection.products %}
           <div class="col-md-3">
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
             <div class="cols-setting">
               <a href="{{ product.url }}"><img src="{{ featured_image | img_url: '400x' }}"/></a>
                    </div>
             <div class="info">
               <a href="{{ product.url }}">   <span class="product-title">{{product.title }}</span>  </a>
               <a href="{{ product.url }}">   <span class="product-price">{{product.price | money }}</span> </a>
             <div class="shop_pro_view"> 
               {% comment %}
               <a href="{{ product.url }}">SHOP NOW</a>
               {% endcomment %}
               <form method="post" action="/cart/add">
                 <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                 <input type="submit" value="ADD TO CART"/>
               </form>

              </div>
             </div>
           </div>
           
           {% endfor %}
      {% endfor %}
         </div>
</div>

<div class="rowss">
    <div class="cols">
      <div class="skin_slider">
        <div class="skin_content"><marquee>GET TO KNOW THE SKIN YOU’RE IN • GET TO KNOW THE SKIN YOU’RE IN • GET TO KNOW THE SKIN YOU’RE IN • GET TO KNOW THE SKIN YOU’RE IN • GET TO KNOW THE SKIN YOU’RE IN</marquee></div>
      </div>
      <p>De-Code Your Skin Type</p>
    </div>
  </div>

<div class="ingredient_index">
  <div>
  <h1>{{ section.settings.index_text1 }}</h1>
    <p><a href="#">{{ section.settings.index_text2 }}</a></p>
  </div>
</div>


<div class="container shop_formula">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ section.settings.formula }}</h3>
    </div>
    <div class="col-md-4">
      <ul>
        <li>{{ section.settings.list1 }}</li>
        <li>{{ section.settings.list2 }}</li>
        <li>{{ section.settings.list3 }}</li>
        <li>{{ section.settings.list4 }}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>{{ section.settings.list5 }}</li>
        <li>{{ section.settings.list6 }}</li>
        <li>{{ section.settings.list7 }}</li>
        <li>{{ section.settings.list8 }}</li>
      </ul>
    </div>
    <div class="col-md-4">
     <ul>
        <li>{{ section.settings.list9 }}</li>
        <li>{{ section.settings.list10 }}</li>
        <li>{{ section.settings.list11 }}</li>
        <li>{{ section.settings.list12 }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container product_our">
   <h1>Our Products Are</h1>
 <div class="row">
<div class="col-md-12 card-deck">
   <div class="card">
     <div><img src="{{ section.settings.img-product1 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt1}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product2 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt2}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product3 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt3}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product4 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt4}}</h5>
    </div>
  </div>
    <div class="card bottom">
     <div><img src="{{ section.settings.img-product5 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt5}}</h5>
    </div>
  </div>
  <div class="card">
     <div><img src="{{ section.settings.img-product6 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt6 }}</h5>
    </div>
  </div>
</div>
</div>
  <a href="https://emdashbeauty.myshopify.com/pages/about-us"><p class="more">More About Our Clean Beauty Standards</p></a>
</div>


{% schema %}
  {
    "name": "Shop landing page",
    "settings": [
      {
       "type":"image_picker",
       "id":"background_image",
       "label":"Add image"
      },
      {
        "type":"text",
        "id":"banner_heading",
        "label":"Add heading"
      },
      {
        "type":"text",
        "id":"banner_description",
        "label":"Add Description"
      },
      {
        "type":"text",
        "id":"formula",
        "label":"Formula heading"
      },
      {
        "type":"text",
        "id":"list1",
        "label":"List"
      },
     {
        "type":"text",
        "id":"list2",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list3",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list4",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list5",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list6",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list7",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list8",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list9",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list10",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list11",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list12",
        "label":"List"
      },
     {
         "type":"collection",
         "id":"collectss",
         "label":"Add collection"
     },
      {
        "type":"text",
        "id":"more_about",
        "label":"More about"
      },
     {
       "type":"image_picker",
       "id":"background_image_2",
       "label":"Add image"
      },
      {
        "type":"text",
        "id":"index_text1",
        "label":"More about"
      },
      {
        "type":"text",
        "id":"index_text2",
        "label":"More about"
      },
      {
          "type": "image_picker",
          "id": "img-product1",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt1",
          "label": "image content text1"
        },
        {
          "type": "image_picker",
          "id": "img-product2",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt2",
          "label": "image content text2"
        },
        {
          "type": "image_picker",
          "id": "img-product3",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt3",
          "label": "image content text3"
        },
        {
          "type": "image_picker",
          "id": "img-product4",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt4",
          "label": "image content text4"
        },
        {
          "type": "image_picker",
          "id": "img-product5",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt5",
          "label": "image content text5"
        },
        {
          "type": "image_picker",
          "id": "img-product6",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt6",
          "label": "image content text5"
        }
      
     
      
      
],
"blocks":[{
	"name": "Collections",
	"type": "collection",
	"settings":[
      {
       "type": "collection",
       "id": "collects",
       "label": "Featured collection"
        }
]
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
