
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<style>
   .skin_info {
       background-image:url("{{ section.settings.background_image | img_url: 'master'}}");
         padding:50px 0px;
         background-size: cover;
         align-items: center;
        justify-content: center;
         display: flex;
}
  @media screen and (min-width: 1024px)
  {
    .skin_info
    {
      background-attachment:fixed;
      height:100vh;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px)
  {
    .down_ward.container-fluid.overview .row.sec_row .col-md-3
    {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
        
  @media screen and (max-width: 767px)
  {
    .skin_info .container-fluid
    {
      padding-top: 25px;
    }
    .container-fluid .row .col-md-12 .col-md-6 h1
    {
      margin: 0 0 10px;
    }
  }
 
</style>
<div class="skin_info">
  <div class="container-fluid" style="padding-top: 15px;">
    <div class="row">
     <div class="col-md-12">
       <div class="col-md-6">
       <h1>{{ section.settings.heading }}</h1>
       <p>{{ section.settings.description }}</p>
       </div>
      </div>
  </div>
         
  </div>
  <div class="iconss page-scroll-btn">
  	{% render 'icon' with 'icon-arrow-down' %}
  </div>
</div>

  <div class="down_ward container-fluid overview">
  <div class="row">
     <div class="col-md-12 header t-center">
       <h1>{{ section.settings.overview_heading }}</h1>
       <p>{{ section.settings.overview_description }}</p>
      </div>
   </div>
    <div class="row sec_row">
      {% for block in section.blocks %}
         {% if block.type == 'overview_content' %}
    <div class="col-md-3 over_list">
        <h2>{{ block.settings.title1 }}</h2>
        <p>{{ block.settings.title2 }}</p>
    </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
<div class="container recomm">
  <div class="row">
    <div class="col-md-12 header">
      <h3>{{ section.settings.recommendation }}</h3>
      <p class="ctm_text f-Gotham f-b">{{ section.settings.recommendation_d }}</p>
    </div>
  </div>
  <div class="row skin_types">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  
  <li class="nav-item">
    <a class="nav-link" id="pills-normal-tab" data-toggle="pill" href="#pills-normal" role="tab" aria-controls="pills-profile" aria-selected="false">Normal Skin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-oily-tab" data-toggle="pill" href="#pills-oily" role="tab" aria-controls="pills-oily" aria-selected="false">Oily Skin</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" id="pills-dry-tab" data-toggle="pill" href="#pills-dry" role="tab" aria-controls="pills-dry" aria-selected="false">Dry Skin</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" id="pills-combination-tab" data-toggle="pill" href="#pills-combination" role="tab" aria-controls="pills-contact" aria-selected="false">Combination</a>
  </li>
           <li class="nav-item">
    <a class="nav-link" id="pills-combination/dry-tab" data-toggle="pill" href="#pills-combination/dry" role="tab" aria-controls="pills-contact" aria-selected="false">Combination/Dry</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" id="pills-combination/oily-tab" data-toggle="pill" href="#pills-combination/oily" role="tab" aria-controls="pills-contact" aria-selected="false">Combination/Oily</a>
  </li>
      <li class="nav-item">
    <a class="nav-link" id="pills-sensitive-tab" data-toggle="pill" href="#pills-sensitive" role="tab" aria-controls="pills-contact" aria-selected="false">Sensitive</a>
  </li>
</ul>
  </div>
  <div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-normal" role="tabpanel" aria-labelledby="pills-normal-tab">
     <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description | newline_to_br }}</p>  
                 {% comment %}
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 {% endcomment %}
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description | newline_to_br }}</p>
                 {% comment %}
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 {% endcomment %}
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="col-md-12 para">
             <div class="col-md-8"><span><a href="{{ section.settings.ctm_link1 }}" style="color: white; text-decoration: none;">{{ section.settings.ctm_text1 }}</a></span></div>
             <div class="col-md-4"><span><a href="{{ section.settings.ctm_link2 }}" style="text-decoration: none;">{{ section.settings.ctm_text2 }}</a></span></div>
            </div>
  </div>
    </div>
  <div class="tab-pane fade" id="pills-oily" role="tabpanel" aria-labelledby="pills-oily-tab">
      <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description }}</p>  
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description }}</p>
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="para">
                <p>Note: While we always formulate our products to yield minimal to no irritation, we recommend patch testing products with active ingredients, especially those who have sensitive skin.</p>
            </div>
  </div>
    </div>
  <div class="tab-pane fade" id="pills-dry" role="tabpanel" aria-labelledby="pills-dry-tab">
  <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description }}</p>  
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description }}</p>
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="para">
                <p>Note: While we always formulate our products to yield minimal to no irritation, we recommend patch testing products with active ingredients, especially those who have sensitive skin.</p>
            </div>
            
     </div>
    </div>
      <div class="tab-pane fade" id="pills-combination" role="tabpanel" aria-labelledby="pills-combination-tab">
  <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description }}</p>  
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description }}</p>
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="para">
                <p>Note: While we always formulate our products to yield minimal to no irritation, we recommend patch testing products with active ingredients, especially those who have sensitive skin.</p>
            </div>
            
     </div>
    </div>
        <div class="tab-pane fade" id="pills-combination/dry" role="tabpanel" aria-labelledby="pills-combination/dry-tab">
  <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description }}</p>  
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description }}</p>
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="para">
                <p>Note: While we always formulate our products to yield minimal to no irritation, we recommend patch testing products with active ingredients, especially those who have sensitive skin.</p>
            </div>
            
     </div>
    </div>
            <div class="tab-pane fade" id="pills-combination/oily" role="tabpanel" aria-labelledby="pills-combination/oily-tab">
  <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description }}</p>  
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description }}</p>
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="para">
                <p>Note: While we always formulate our products to yield minimal to no irritation, we recommend patch testing products with active ingredients, especially those who have sensitive skin.</p>
            </div>
            
     </div>
    </div>
    <div class="tab-pane fade" id="pills-sensitive" role="tabpanel" aria-labelledby="pills-sensitive-tab">
  <div class="row skin_slider">
             <div class="col-md-12 skin_collection"> 
                 <h1>For Normal Skin Types</h1>
              </div>
                  <div class="col-md-8 daily_monthly">
                    <h3>DAILY ROUTINE</h3>
                  </div>
                   <div class="col-md-4 daily_monthly desktop">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
             <div class="col-md-8 coll">
             {% assign featured_Collection = collections[section.settings.collect]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'daily' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{ product.title }}</span>
                 <p class="description">{{  product.metafields.my_fields.product_description }}</p>  
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
               {% endif %}
            {% endfor %}              
           </div>   
           <div class="col-md-4 daily_monthly mob_monthly">
                      <h3>MONTHLY TREATMENT</h3>
                  </div>
         
            <div class="col-md-4 coll_2">
              
                   {% assign featured_Collection = collections[section.settings.collects]%}
           {% for product in featured_Collection.products %}
               {% if product.tags contains 'monthly' %}
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
               <div class="cols-setting">
                    <img src="{{ featured_image | img_url: '200x' }}"/>
                    
               <span class="product-name">{{product.title}}</span>
                <p class="description">{{  product.metafields.my_fields.product_description }}</p>
                 <div class="Shop_products"><a href="{{ product.url }}">Shop</a></div>
                 </div>
              
               {% endif %}
            {% endfor %}
               
            </div>
      
           <div class="para">
                <p>Note: While we always formulate our products to yield minimal to no irritation, we recommend patch testing products with active ingredients, especially those who have sensitive skin.</p>
            </div>
            
     </div>
    </div>
</div>
   
 
 

  <div class="container shop_formula">
  <div class="row">
    <div class="col-md-12">
      <h3>{{ section.settings.formula }}</h3>
    </div>
    <div class="col-md-4">
      <ul>
        <li>{{ section.settings.list1 }}</li>
        <li>{{ section.settings.list2 }}</li>
        <li>{{ section.settings.list3 }}</li>
        <li>{{ section.settings.list4 }}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>{{ section.settings.list5 }}</li>
        <li>{{ section.settings.list6 }}</li>
        <li>{{ section.settings.list7 }}</li>
        <li>{{ section.settings.list8 }}</li>
      </ul>
    </div>
    <div class="col-md-4">
     <ul>
        <li>{{ section.settings.list9 }}</li>
        <li>{{ section.settings.list10 }}</li>
        <li>{{ section.settings.list11 }}</li>
        <li>{{ section.settings.list12 }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="container product_our">
   <h1>Our Products Are</h1>
 <div class="row">
<div class="col-md-12 card-deck">
   <div class="card">
     <div><img src="{{ section.settings.img-product1 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt1}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product2 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt2}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product3 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt3}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product4 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt4}}</h5>
    </div>
  </div>
    <div class="card">
     <div><img src="{{ section.settings.img-product5 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt5}}</h5>
    </div>
  </div>
   <div class="card">
     <div><img src="{{ section.settings.img-product6 | img_url:"large" }}" class="card-img-top" alt="..."></div>
    <div class="card-body">
      <h5 class="card-title">{{ section.settings.content_txt6 }}</h5>
    </div>
  </div>
</div>
</div>
  <a href="#"><p class="more">More About Our Clean Beauty Standards</p></a>
</div>

{% schema %}
  {
    "name": "skin infographic",
    "settings": [
                 {
                   "type":"image_picker",
                   "id":"background_image",
                   "label":"Add image"
                 },
                {
                  "type":"richtext",
                  "id":"heading",
                  "label":"Heading"
                },
                 {
                  "type":"text",
                  "id":"description",
                  "label":"Description"
                },
                 {
                  "type":"text",
                  "id":"overview_heading",
                  "label":"Overview-Heading"
                },
                 {
                  "type":"text",
                  "id":"overview_description",
                  "label":"Overview-Description"
                },
                {
                  "type":"text",
                  "id":"recommendation",
                  "label":"Recommendation-Heading"
                },
                 {
                  "type":"text",
                  "id":"recommendation_d",
                  "label":"Recommendation-Description"
                },
                {
               "type": "collection",
               "id": "collect",
               "label": "Daily Collection"
                },
                 {
               "type": "collection",
               "id": "collects",
               "label": "Monthly Collection"
                },
                  {
                "type": "text",
                "id": "ctm_text1",
                "label": "Daily Button Text"
                },
  				{
  				"type": "url",
  				"id": "ctm_link1",
  				"label": "Daily Button Link"
				},
                  {
                "type": "text",
                "id": "ctm_text2",
                "label": "Daily Button Text"
                },
  				{
  				"type": "url",
  				"id": "ctm_link2",
  				"label": "Monthly button Link"
  				},
  		{
        "type":"text",
        "id":"formula",
        "label":"Formula heading"
      },
      {
        "type":"text",
        "id":"list1",
        "label":"List"
      },
     {
        "type":"text",
        "id":"list2",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list3",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list4",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list5",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list6",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list7",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list8",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list9",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list10",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list11",
        "label":"List"
      },
      {
        "type":"text",
        "id":"list12",
        "label":"List"
      },
      {
          "type": "image_picker",
          "id": "img-product1",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt1",
          "label": "image content text1"
        },
        {
          "type": "image_picker",
          "id": "img-product2",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt2",
          "label": "image content text2"
        },
        {
          "type": "image_picker",
          "id": "img-product3",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt3",
          "label": "image content text3"
        },
        {
          "type": "image_picker",
          "id": "img-product4",
          "label": "Add image"
        },
		{
          "type": "text",
          "id": "content_txt4",
          "label": "image content text4"
        },
        {
          "type": "image_picker",
          "id": "img-product5",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt5",
          "label": "image content text5"
        },
        {
          "type": "image_picker",
          "id": "img-product6",
          "label": "Add image"
        },
        {
          "type": "text",
          "id": "content_txt6",
          "label": "image content text6"
        }
			     
],
"blocks":[{
	"name": "overview",
	"type": "overview_content",
	"settings":[
        {
       "type": "text",
       "id": "title1",
       "label": "Title"
        },
        {
       "type": "text",
       "id": "title2",
       "label": "Description"
        }
]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script>
   $('.coll').slick({
  infinite: true,
  slidesToShow: 3,
  slidesToScroll: 1,
     autoplay:true,
     prevArrow: '<div class="slick-prev"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/left-arrow_1.png?v=1630750606"></div>',
     nextArrow: '<div class="slick-next"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/right-arrow-angle.png?v=1630750625"></div>',
  asNavFor: '.coll_2',
     responsive: [
       {
         breakpoint: 1024,
         settings: {
           slidesToShow: 2,
           slidesToScroll: 2,
           autoplay:true,
           adaptiveHeight: true
         }
       },
       {
         breakpoint: 768,
         settings: {
           slidesToShow: 1,
           slidesToScroll: 1,
           autoplay:true,
            adaptiveHeight: true
         }
       }
     ]
});
$('.coll_2').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
    autoplay:true,
  nextArrow: '<div class="slick-next"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/right-arrow-angle.png?v=1630750625"></div>',
  asNavFor: '.coll',
  responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay:true,
        adaptiveHeight: true
      }
    }
  ]
});
  
//   $('.coll').slick({
//   infinite: true,
//   slidesToShow: 3,
//   slidesToScroll: 1,
//     autoplay:true,
//     prevArrow: '<div class="slick-prev"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/left-arrow_1.png?v=1630750606"></div>',
//   nextArrow: '<div class="slick-next"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/right-arrow-angle.png?v=1630750625"></div>',
//      responsive: [
//     {
//       breakpoint: 768,
//       settings: {
//       slidesToShow: 1,
//       slidesToScroll: 1,
//       autoplay:true
//       }
//     }
//    ]
// });
//    $('.coll_2').slick({
//   infinite: true,
//   slidesToShow: 1,
//   slidesToScroll: 1,
//     autoplay:true,
//      prevArrow: '<div class="slick-prev"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/left-arrow_1.png?v=1630750606"></div>',
//   nextArrow: '<div class="slick-next"><img src="https://cdn.shopify.com/s/files/1/0597/4487/8782/files/right-arrow-angle.png?v=1630750625"></div>',
// });
	
  $(".back_top h6").on('click', function(e) {
     e.preventDefault();
     var target = $(this).attr('href');
     $('html, body').animate({
       scrollTop: ($(".skin_info").offset().top)
     }, 2000);
  });
  
jQuery(".skin_types a.nav-link").click(function(){
setTimeout(function(){   
  $('.coll').slick('refresh');
  $('.coll_2').slick('refresh');
}, 200);
});
  
</script>
 

