<div class="container term">
  <h1>{{ section.settings.bigheading }}</h1>
  <h5>{{ section.settings.heading }}</h5>
  <p>{{ section.settings.subheading }}</p>
  <h6>{{ section.settings.description }}</h6>
</div>
<div class="container pd-top">
      <h2 class="list_header">{{ section.settings.list_header }}</h2>
  <div class="row pd-bm">
     {% for block in section.blocks %}
     {% if block.type == 'services' %}
    <div class="col-md-6">
      <ul class="list_style_ul">
        <li class="list_term_services">{{ block.settings.list }}</li>
      </ul>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="container">
     {% for block in section.blocks %}  
  	 {% if block.type == 'content_services' %}
            <div class="content_widget">
              <div class="content_inner">
              	  <h1 class="content_heading">{{ block.settings.content_heading }}</h1>
                  <p class="content_middle">{{ block.settings.content_middle }}</p>
                  <div class="content_over">{{ block.settings.content_over }}</div>
                  <p class="content_lower">{{ block.settings.content_lower }}</p>
              </div>
            </div>
  	 {% endif %}
  	 {% endfor %}
      <div class="back_top">
        <h6>Back to Top</h6>
  	  </div>
</div>
{% schema %}
  {
    "name": "Term and Services",
    "settings": [
     {
       "type":"text",
        "id":"bigheading",
        "label":"Term & Services"
     },
     {
       "type":"text",
        "id":"heading",
        "label":"Heading"
     },
     {
       "type":"text",
        "id":"subheading",
        "label":"Sub-heading"
     },
     {
       "type":"text",
        "id":"description",
        "label":"Text"
     },
     {
       "type":"text",
        "id":"list_header",
        "label":"list heading"
     }
    ],
"blocks":[{
	"name": "term_of_services",
	"type": "services",
	"settings":[
         {
       "type": "text",
       "id": "list",
       "label": "List"
        }
]
},
{
	"name": "Card",
	"type": "content_services",
	"settings":[
      {
       "type": "text",
       "id": "content_heading",
       "label": "heading"
      },
      {
       "type": "text",
       "id": "content_middle",
       "label": "content middle"
      },
      {
       "type": "richtext",
       "id": "content_over",
       "label": "over content"
      },
      {
       "type": "text",
       "id": "content_lower",
       "label": "content lower"
      }       
]
}]

	
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}


<script>
  $(".back_top h6").on('click', function(e) {
     e.preventDefault();
     var target = $(this).attr('href');
     $('html, body').animate({
       scrollTop: ($(".term").offset().top)
     }, 2000);
  });
</script>


