@media only screen and (min-width:1501px){
  .home-s .home_slider_text {
    padding:0px 15px !important;
  	top: 50%;
  }
}


  @media screen and (min-width: 768px)
  {
    .main-content.js-focus-hidden.ctm_body
    {
      opacity: 0.5;
    }
    .page-container.drawer-page-content.ctm_body
    {
      background: #beb2a9!important;
    }
    div#SiteNavLabel-about {
      width: fit-content;
    }
    .site-header {
      padding: 0 15px;
    }
    .col-md-4.mobile {
      display: none;
    }
    .home_slider_text p 
    {
      font-size: 18px;
      font-weight:400;line-height: 1.5;
    /*     font-family: 'Gotham'; */
      color:#686158;
      font-family: 'Gotham';
      margin-top: 20px;
      margin-bottom: 25px;
    }
    .home_slider_text a{
      /* margin-top: 25px; */
    }
  }
  @media screen and (min-width: 1025px)
  {
    .site-header .medium-up--one-half {
      width: 80%;
    }
    .site-header .medium-up--one-quarter 
    {
      width: 8% !important;
    }
    .grid__item.medium-up--one-quarter.logo-align--left
    {
      width: 15% !important;
    }
    .sticky {
      position: fixed;
      top: 0;
      left:0;
      width:100%;
      z-index:1;
      background-color:white;
    }
    #slidecarthq .slidecarthq-overlay, #slidecarthq .slidecarthq-overlay:empty,
    #slidecarthq .slidecarthq
    {
      top: 85px;
      box-shadow: none;
    }
/*     {% if template == 'index' %}
    div#PageContainer
    {
      padding-top: 100px;
    }
    {% endif %} */
    .container.product_our .row .card div
    {
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
    }
    .container {
      max-width: 1440px;
    }
    header.container.site-header.border-bottom.logo--left {
      max-width: 100% !important;
      padding: 0 80px !important;
    }
    a.site-header__logo-image img
    {
      max-width: 215px !important;
    }
    .overview p
    {
      font-size: 16px !important;
    }
  }

  @media only screen and (min-width: 750px)
  {
    header.container.site-header.border-bottom.logo--left {
      max-width: 100% !important;
      padding: 0 35px;
    }
    .index-section--flush:first-child {
      margin-top: 0px;
    }
    .grid__item.medium-up--one-third.logo-align--center {
/*     margin-top: -1%; */
   }
  }
  @media only screen and (min-width: 1440px)
  {
    header.container.site-header.border-bottom.logo--left {
      max-width: 100% !important;
      padding: 0 120px !important;
    }
  }

  @media only screen and (min-width: 1920px)
  {
    .row.image .col-md-12 p
    {
      padding: 14px !important;
    }
    .site-nav__dropdown
    {
      top: 70px;
    }
    img.pic2 {
      width: 250px;
    }
    .backimg .container h1
    {
      font-size: 60px;
    }
    #shopify-section-about img.pic1 {
      top: 20%;
    }
    .slideshow__text-content.slideshow__text-content--vertical-center.text-left .page-width {: ;
      padding-right: 130px;
      padding-left: 130px;
      max-width: 100%;
    }
    h2.h1.mega-title,
    .banner_cont h1
    {
      font-size: 90px !important;
    }
    .slideshow__subtitle, .slideshow__title
    {
      font-size: 30px;
    }
    .site-header {
      padding: 0 0px;
    }
    div#shopify-section-1630049045e02c9e57 .product_image_Section img {
      width: 100%;
    }
    div#shopify-section-1630049045e02c9e57 .container
    {
      padding-right: 0px;
      padding-left: 0px;
    }
    .site-header {
      padding: 0 0px;
    }
    div#SiteNavLabel-about {
    left: -65px;
    }
    .container
    {
      /* max-width: 1500px !important; */
    }
    #slidecarthq .slidecarthq-overlay, #slidecarthq .slidecarthq-overlay:empty,
    #slidecarthq .slidecarthq
    {
      top: 115px;
    }
    div#shopify-section-1630062950f1951ead .middle_pro .row img,
    .row.image img
    {
      width: 100%;
    }
    .row.third__section.align-items-center3 .col-md-6 .right_third_image {
      text-align: center;
    }
   div#shopify-section-1630062950f1951ead .col-md-6
    {
      display: block !important;
    }
    .site-nav
    {
      margin: 35px 0;
    }
    .grid.grid--no-gutters.grid--table.site-header__mobile-nav
    {
      max-height: 116px;
    }
    #slidecarthq .item .image,
    #slidecarthq .item .image img
    {
      width: 205px;
    }
    #slidecarthq .slidecarthq.right {
      max-width: 711px!important;
    }
	#slidecarthq .main h3.title a
    {
      font-size: 40px!important;
    }
    body #slidecarthq .item .price
    {
      font-size: 20px !imprtant;
    }
    #slidecarthq .quantity-selector
    {
      margin-top: 21px;
    }
    #slidecarthq button.copy_remove
    {
      font-size: 20px;
      right: 142px;
    }
    #slidecarthq .item .main-bottom
    {
      margin-top: 0;
    }
    .ingredient_index h1,
    .row.image .col-md-12 h1
    {
      font-size: 90px !important;
    }
    .ingredient_index
    {
      height: 673px !important;
    }
    .ingredient_index p
    {
      padding: 10px !important;
      width: 228px !important;
      height: 56px;
    }
    .ingredient_index p
    {
      font-size: 25px;
    }
    .form-single-field
    {
      max-width: 494px;
    }
    .overview p
    {
      font-size: 20px !important;
    }
    .row.image .col-md-12 p
    {
      padding: 10px;
      width: 260px;
      width: 228px;
      height: 56px;
      font-size: 20px;
    }
    .recomm h3
    {
      font-size: 35px !important;
      margin: 0 347px 35px 346px;
    }
    .recomm p.ctm_text
    {
      width: 1161px !important;
      font-family: Baskerville;
      font-size: 40px !important;
      height: 119px;
    }
    .skin_types ul li
    {
      font-size: 25px;
      margin: 22px !important;
    }
    div#shopify-section-product-template .container.second-section .first_img
    {
      bottom: auto;
      right: 75px;
      margin: 62px 0 0 0;
      left: auto;
    }
  }
  @media screen and (min-width: 2560px)
  {
    #slidecarthq .slidecarthq-overlay, #slidecarthq .slidecarthq-overlay:empty, #slidecarthq .slidecarthq
    {
      top: 10%;
    }
    header.container.site-header.border-bottom.logo--left {
      padding: 0 150px;
    }
    .container {
      max-width: 2200px !important;
    }
  }
  @media screen and (min-width:750px) and (max-width: 1024px)
  {
    .site-header__icons
    {
      width: 15% !important;
    }
  }
  @media screen and (max-width: 1024px)
  {
    .site-header__logo img
    {
      margin: 0 auto;
    }
    a.site-header__icon.site-header__account
    {
      display: none;
    }
    div#PageContainer {
      transform: inherit !important;
    }
    nav.mobile-nav-wrapper.medium-up--hide.critical-hidden.js-menu--is-open {
      z-index: 999;
    }
    .ctm_body
    {
      opacity: 0.5;
    }
    nav.mobile-nav-wrapper.medium-up--hide.critical-hidden.js-menu--is-open div#PageContainer
    {
      background: #848484!important;
    }
    ul#MobileNav
    {
      padding: 30px;
      background: #f7f6f4;
    }
    .mobile-nav__sublist-link:not(.mobile-nav__sublist-header)
    {
      padding-left: 30px;
    }
    header.site-header.border-bottom.logo--left
    {
      padding-top: 0;
    }
    .site-header__logo img
    {
      margin: auto;
    }
  }
  @media screen and (max-width: 767px)
  {
    .col-md-4.mobile {
      display: block;
      width: 50% !important;
    }
    .shop_product span.product-title
    {
      font-size: 14px;
      width: auto !important;
    }
    .col-md-4.desktop
    {
      display: none;
    }
    .ingredient_index h1
    {
      font-size: 30px !important;
    }
    div#PageContainer {
      background: #9e9b99!important;
    }
/*     {% if template == 'index' %}
    .main-content
    {
      padding-top: 90px !important;
    }
    {% endif %} */
/*     {% unless template == 'index' %}
    .main-content
    {
      padding-top: 55px !important;
    }
    {% endunless %} */
    .sticky {
      position: fixed;
      top: 0;
      left:0;
      width:100%;
      z-index:99999;
      background-color:white;
    }
    #slidecarthq .slidecarthq
    {
      box-shadow: none;
      top: 9%;
    }
    #slidecarthq .slidecarthq-overlay, #slidecarthq .slidecarthq-overlay:empty
    {
      top: 10%;
    }
    #slidecarthq .item {
      padding: 25px!important;
    }
    #slidecart-checkout-form p
    {
      padding: 10px 60px 0 60px;
    }
    #slidecarthq .footer-row
    {
      text-align: center;
    }
    #slidecarthq .footer-row
    {
      display: block;
    }
    html body #slidecarthq .button,
    html body #slidecarthq .button span,
    #slidecarthq .footer-row strong
    {
      font-size: 18px !important;
    }
    .slideshow__slide
    {
      height: 240px;
    }
    {% if template == 'index' %}
    main#MainContent
    {
      padding-top: 0px;
    }
    {% endif %}
    h2.h1.mega-title.slideshow__title
    {
      font-size: 21px;
    }
    li.slideshow__subtitle
    {
      width: 50%;
      padding-top: 11px;
    }
    li.slideshow__subtitle .slideshow__subtitle {
      font-size: 11px;
      font-weight: 600;
    }
    section.shop_page.parallax-window .container.banner_cont .row {
      margin-right: 0;
      margin-left: 0;
    }
    .shop_page
    {
      height: 35vh !important;
    }
    img.pic1
    {
      position: absolute;
      left: -15px;
      top: 30% !important;
      max-width: 160px;
    }
    .backimg .container h1 {
      font-size: 22px;
    }
    .down_ward.container .row
    {
      margin-right: 15px;
      margin-left: 15px;
    }
    .down_ward.container .row .col-md-6,
    .down_ward.container .row .col-md-3{
      width: 50%;
      flex: 0 0 50%;
    }
    .col-lg-3.col-md-6.col-sm-12.featured_product_div .product_image_Section {
      padding-inline: 0px;
    }
    .shop_pro_view
    {
      width: 100%;
    }
    .product_detail_Section {
      margin-bottom: 15px;
    }
    .product_detail_Section span.product_title
    {
/*       max-width: 101px; */
    }
    .product_detail_Section
    {
      margin-top: 12px;
    }
    .product_detail_Section span.product_title
    {
      font-size: 12px;
    }
    .inner_section_left span:not(.thin_heading_section), .left_third_section p.sub_heading, .right_section p.sub_heading {
      font-size: 27px;
      font-weight: normal;
      line-height: 1.19;
    }
    #slidecarthq .item .image,
    #slidecarthq .item .image img{
      width: 140px;
    }
    .main-bottom
    {
      position: relative;
    }
    button.copy_remove
    {
      position: absolute;
      right: 20px;
      top: 35px;
      text-decoration: underline;
      font-weight: 500;
      color: #686058;
    }
    #slidecarthq .item .main-bottom
    {
      margin-top: 10px;
      position:relative;
    }
    .btn-section {
      text-align: left;
    }
    .index-section--flush:first-child
    {
      margin-top: 0px;
    }
    .footer_link div
    {
      font-size: 12px !important;
    }
    button.btn--link.site-header__icon.site-header__menu.js-mobile-nav-toggle.mobile-nav--open,
    button.btn--link.site-header__icon.site-header__menu.js-mobile-nav-toggle.mobile-nav--close
    {
      width: 33.33%;
    }
    .site-header__icons
    {
      width: 33.33%;
    }
    .site-header__logo img
    {
      margin: auto;
    }
  }
/*   @media screen and (min-width: 750px) and (max-width: 767px)
  {
    .main-content {
      padding-top: 140px !important;
    }
  } */
  @media screen and (min-width: 320px) and (max-width: 413px)
  {
    img.pic2 {
      width: 90px;
      top: 40%;
    }
    img.pic3
    {
      width: 105px;
      top: -5%;
    }
    .slideshow__btn
    {
      min-height: auto;
      padding: 12px;
    }
  }
  @supports (-webkit-touch-callout: none) {
    .slideshow__btn
    {
      padding-top: 12px !important;
      padding-bottom: 8px !important;
    }
    h1.first-sec-heading {
      padding-top: 40px;
    }
  }
/*   @media only screen and (min-device-width: 390px) and (max-device-height: 844px)
    {
      .slideshow__btn
      {
        padding-top: 12px !important;
        padding-bottom: 8px !important;
      }
    } */
  @media screen and (min-width: 1024px) and (max-width: 1660px)
  {
    a.site-header__logo-image img {
      max-width: 200px !important;
    }
  }
  @media screen and (min-width: 414px) and (max-width: 500px)
  {
    .backimg .container h1
    {
      font-size: 16px;
    }
    .backimg .container
    {
      width: 287px;
      padding-right: 0;
      padding-left: 0;
    }
    .backimg .container:not h1
    {
      width: 100%;
    }
    .backimg h1 {
      font-size: 16px;
      text-align: center;
    }
    .backimg .container .row {
      margin-right: 0;
      margin-left: 0;
      padding-inline: 0 !important;
    }
    img.pic1
    {
      top: 32% !important;
    }
    img.pic2 {
      width: 140px;
      top: 40%;
    }
    .banner_cont p {
      font-size: 14px !important;
      width: 60% !important;
    }
    .iconss img {
      width: 18px;
      height: 16px;
      margin: 32px 7px 0 2px;
      object-fit: contain;
    }
    button.btn--link.site-header__icon.site-header__search-toggle.js-drawer-open-top {
      margin-top: 20px;
    }
  }
    @media screen and (min-width: 501px) and (max-width: 767px)
    {
      .backimg .container h1
      {
        font-size: 16px;
      }
      .backimg .container
      {
        width: 380px;
        padding-right: 0;
        padding-left: 0;
      }
      .backimg .container:not h1
      {
        width: 100%;
      }
      .backimg h1 {
        font-size: 16px;
        text-align: center;
      }
      .backimg .container .row {
        margin-right: 0;
        margin-left: 0;
        padding-inline: 0 !important;
      }
      img.pic1
      {
        top: 28%;
      }
      img.pic2 {
        width: 140px;
      }
    }
  @media screen and (width: 768px)
  {
    .backimg .container {
      max-width: 650px;
    }
    img.pic1 {
      position: absolute;
      left: -4%;
      top: 16%;
    }
    img.pic2
    {
      width: 150px;
    }
    .backimg h1 {;
      text-align: center;
    }
  }
  .backimg h1 {;
    text-align: center;
  }
  @media screen and (max-width: 750px)
    {
      header.container.site-header.border-bottom.logo--left
      {
        max-width: 100%;
      }
    }
/*   div#shopify-section-1630062950f1951ead .inner_section_left a,
  div#shopify-section-1630062950f1951ead .btn-section a
  {
    text-align: center;
    color: #f7f6f4;
    font-size: 18px;
    font-family: Gotham;
    font-weight: 600;
    width: 30%;
    background: #686058;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 8px;
    text-decoration: none;
  } */

  .ty-compact-list {
    padding: 5px 5px 5px 0px;
    float: left;
    width: 100%;
  }
  .show-more {
    display: none;
    cursor: pointer;
  }
  .product-single__title
  {
    font-family: 'Baskervville';
  }
  span.price-item.price-item--regular {
    font-family: 'Gotham';
    font-weight: 500;
  }
  div#shopify-section-product-template .container {
    padding-top: 10px;
}

 @media only screen and (max-width:1023px){
/*    .for_icon_close {
    width: 12px!important;
}  */
 
a.mobile-nav__link {
    font-size: 20px;
    font-family: 'Gotham';
    font-weight: 700;
    color: #686058;
}  

.site-header__icon {
    padding:0 10px !important;
}
   @media only screen and (min-width:1600px)
   {
     .container
     {
          max-width: 1265px!important;
     }
   }


/* body.template-index .shopify-section.formula-design-section .btn-section a {
    font-size: 16px;
    padding-left: 0px !important;
    padding-right: 0px!important;
}
   */
} 

   @media only screen and (max-width:830px){   
   
.grid.grid--no-gutters.grid--table.site-header__mobile-nav {
    display: flex;
}   
   
}

@media screen and (min-device-width:824px)  and (max-device-width:913px){
 
  .site-header__icons-wrapper .site-nav {
    display: unset;
  }
  
}

@media only screen and (max-width:1123px){
 
  
    .grid--no-gutters nav#AccessibleNav {
    padding-left: 0px;
    flex: 0 0 0%;
   }
  
  .grid__item.medium-up--one-third.text-right.site-header__icons {
    flex: 0 0 0%;
    padding-right: 0px;
}
  
.grid.grid--no-gutters.grid--table.site-header__mobile-nav {  
 justify-content: center;
}
}  




 .site-header__logo img {
    margin: auto !important;
}
  
 .site-header__icons {
    width: unset !important;
} 

a.site-header__icon.site-header__cart {
   position:unset;
}

.site-header {
  padding:0 10px;
}


@media only screen and (max-width:1230px){
  
   .home_slider_text {
    left: unset;
    transform: unset;
    padding:0 20px;
  }

}

@media only screen and (max-width:1440px){

  .template--product #slidecarthq .slidecarthq.right {
    max-width: 440px !important;
  }
} 

@media only screen and (max-width:768px){

  .template--product #slidecarthq .slidecarthq.right {
    max-width: 100% !important;
  }
}

/* for mobile slider issue */

@media only screen and (max-width:768px){

.text_s h1:nth-child(2) {
  max-width:150px;
}
}

@media only screen and (max-width:375px){

  .product_detail_Section span.product_title {
    font-size: 10px;
    max-width:30ch;
}
  
}

@media only screen and (max-width:320px){

  .product_detail_Section span.product_title {
    font-size: 8px;
    max-width:30ch;
}
  
}

.overnight_sec {
    text-align: center;
}
.overnight_sec .heading {
    font-family: 'Gotham';
    font-size: 25px;
    font-family: Gotham;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #686058;
}
.overnight_sec .sub_heading {
    font-family: Gotham;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #686058;
}
.overnight_sec .third_subheading p {
    width: 640px;
    height: 195px;
    margin: 0px auto;
    font-family: Gotham;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #686158;
}
.overnight .row.image .col-md-12 h1 {
    font-family: Gotham;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #686058;
    margin-bottom: 12px;
}
.overnight .row.image .col-md-12 p {
  text-align: left;
  font-family: Gotham;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #686058;
  margin-bottom: 12px;
}
.overnight .col-md-12 {
    text-align: left!important;
    width: 1290px;
}
.row.image .col-md-12 a {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: 0.7px;
    text-align: center;
    color: #686058;
    background: #ffffff;
    padding:5px;
}
.de-coding .col-md-6 h1 {
    font-family: Gotham;
    font-size: 45px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    color: #686058;
}
.de-coding .col-md-6 p {
    font-family: Gotham;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #686058;
    margin-bottom: 35px;
}
.container.de-coding {
    padding: 60px 0px;
}
.de-coding .col-md-6 input[type="text"] {
    width: 100%;
    border: none;
    font-family: Gotham;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  text-align: left;
  color: #686058;
}
.skincare-ques .col-md-6 h2 {
    margin: 35px 5px 20px 0px;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    text-transform: capitalize;
    color: #686058;
}
.skincare-ques .col-md-6 p {
    font-family: Gotham;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #686058;
}
.skincare-ques .col-md-6 span {
    font-family: Gotham;
    font-size: 18px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #686058;
}
.skincare-ques .ques {
    border-bottom: 2px solid #686058;
}
.skincare-ques .show_less {
    border-bottom: 2px solid #686058;
    display: none;
    position:relative;
}
.show_less span i.fa.fa-angle-up {
    position: absolute;
    right: 0px;
    top:8px;
}
.skincare-ques .show_more {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #686058;
}
.skincare-ques .turncate p {
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
.skincare-ques .para-none {
    display: none;
}
.container.skincare-ques {
    padding: 30px 0px;
}
.skincare-ques .col-md-6 {
    padding-bottom: 60px;
    padding-inline: 4%;
}
.container.load_more {
    text-align: center;
    padding: 0px 40px 40px;
}
.load_more a {
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: 0.7px;
    text-align: center;
    color: #f7f6f4!important;
    background-color:#686058;
    padding:6px;
}
.de-coding span.search {
    position: absolute;
    right: 10px;
    top: 10px;
}
.de-coding .input_search {
    position: relative;
}
@media only screen and (max-width:768px){
.container.de-coding {
    padding-left: 20px;
    padding-right: 20px;
}
.container.skincare-ques {
    padding-left: 20px;
    padding-right: 20px;
}
.de-coding .col-md-6 h1
{
 font-size:25px;
}
.container.de-coding {
    padding: 30px 0;
}
  .about__guide .col-md-12 {
    left:0px!important;
}
  .about__guide .col-md-12 h1 {
    font-size:30px!important;
  }
  .about__guide img {
    height: 330px;
}
}
.skin_info h1 p,h2.h1.mega-title,.banner_cont h1{
    font-family: 'Gotham';
    font-weight: 700 !important;
    font-size:50px;
}
.backimg .container h1
{
 font-size:32px!important;
}
.performance .row .col-md-6 {
    justify-content: center;
    display: flex;
   align-items:center;
}
.performance .row:nth-child(2) .col-md-6 {
    align-items: unset;
}
.about__guide .col-md-12 h1 {
    font-family: Gotham;
    font-size: 50px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #686058;
}
.about__guide .col-md-12 p {
    font-family: Gotham;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #686058;
}
.about__guide .col-md-12 a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    background:#f7f5f4;
    letter-spacing: 0.7px;
    text-align: center;
    color: #686158!important;
    padding: 5px;
}
.about__guide {
    position: relative;
}
.about__guide .col-md-12 {
    position: absolute;
    top: 32%;
    width: 1280px;
    left: 9%;
}
body.template-index .shopify-section.formula-design-section .btn-section a
{
 padding-left:10px!important;
  padding-right:10px!important;
}
.overnight_sec .heading h1 {
    font-size: 50px;
    color: #686158;
    font-family: 'GothamMedium';
}

.shop_pro_view a
{
 background:#f7f5f4!important;
  color: #686158!important;
}
.emdesh_footer
{
 padding-bottom:80px!important;
}
#shopify-section-emdesh__footer .footer_icon
{
 margin-bottom:25px!important;
}
.input-group .input-group__field
{
 margin-bottom:25px;
}
.template-index .rowss
{
 margin-top:5rem;
}
.template-product .container.shop_formula
{
 padding-top:80px!important;
}