@font-face {
  font-family: Gotham;
  src: url(https://cdn.shopify.com/s/files/1/0519/8685/8180/files/GothamLight.ttf?v=1630046027);
}
@font-face {
  font-family: GothamMedium;
  src: url(https://cdn.shopify.com/s/files/1/0519/8685/8180/files/GothamMedium.ttf?v=1630046027);
}
/* body.template-index {
    font-family: 'Gotham';
} */
div#shopify-section-shop .down_ward.container.shop_product span.product-title {
    max-width:26ch;
    font-size: 16px;
}
.hero__btn {
	float: left;
    font-family: 'Gotham';
    color: #686058;
    background: #F7F6F4;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bolder;
}
h2.h1.mega-title {
    font-family: 'Baskervville', serif;
  	letter-spacing: 0px;
    color: #686058;
    text-shadow: 0 0 black;
}
.text-center .mega-subtitle p{
    font-family: 'Gotham';
    font-style: normal;
    letter-spacing: 0px;
    font-size: 23px;
    font-weight: 600;
    color: #686058;
    opacity: 1;
}
.product_detail_Section {
  text-align: center;
  margin-top: 25px;
}
.product_detail_Section span {
    display: block;
}
.product_detail_Section span.product_title {
   color: #686058;
    font-size: 12px;
    font-style: normal;
    font-family: Baskervville;
    max-width: 28ch;
    margin: 0 auto;
}
span.product_price {
    color: #686058;
    font-family: 'GothamMedium';
    font-size: 12px;
    font-style: normal;
    letter-spacing: 1.5px;
  	margin-top: 15px;
}
.product_detail_Section a {
    display: block;
    margin-top: 15px;
    color: #686058;
    font-family: Gotham;
    letter-spacing: 1.2px;
    color: #686058;
    font-size: 10px;
}

.col-md-3.featured_product_div {
    z-index: 9;
}
div.featured_product_section, .formula-design-section {
    background: #f7f6f4;
}
.formula-design-section {
	padding-top: 30px;
}
.inner_section_left span:not(.thin_heading_section) {
    letter-spacing: 0px;
    color: #686058;
    font-family: 'Baskervville';
    font-size: 34px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
/*     white-space: nowrap; */
}
span.thin_heading_section {
    font-weight: 600;
}
.inner_section_left p.paragraph {
    letter-spacing: 0;
    color: #686058;
    font-family: Gotham;
    font-size: 21px;
    padding-top: 22px;
    margin-bottom: 22px;
}
.inner_section_left a {
    letter-spacing: 0px;
    color: #f7f6f4!important;
    font-family: 'Gotham';
  	font-weight: 600;
    font-size: 20px;
    background-color:#686058;
    padding:10px;
    text-decoration:none!important;display: inline-block;
    
}


.right_section p.sub_heading {
    letter-spacing: 0px;
    color: #686058;
    font-size: 34px;
    font-family: 'Baskervville';
}
.right_section .paragraph_section p {
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Gotham';
    color: #686058;
}
.right_section .btn-section a {
    letter-spacing: 0px;
    font-family: Gotham;
    font-weight: 600;
    font-size: 20px;
     color: #f7f6f4;
    background-color:#686058;
    padding:10px;display: inline-block;
    text-decoration:none!important;
}

.right_section .btn-section {
    margin-top: 50px;
}
.heading_section span.heading_text span {
    font-family: 'Baskervville';
    font-weight: normal;
}
/* .left_image {
    width: 60%;
} */
.left_third_section p.sub_heading {
    letter-spacing: 0px;
    color: #686058;
    font-size: 34px;
    font-family: 'Baskervville';
}
.left_third_section .paragraph_section span {
    letter-spacing: 0px;
    font-size: 20px;
    font-family: 'Gotham';
    color: #686058;
}

.left_third_section .btn-section a {
    letter-spacing: 0;
    font-family: Gotham;
    font-weight: 600;
    font-size: 20px;
    color: #f7f6f4;
    background-color: #686058;
    padding: 10px;
    text-decoration: none!important;display: inline-block;
}
.left_third_section .btn-section {
    margin-top: 40px;
}
.row.third__section {
    margin-top: 50px;
}
.rowss {
    background-color: #686058;
    margin-top: 2rem;
}
.rowss .cols p {
    color: #F7F6F4;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: 'Gotham';
    font-weight: 600;
    letter-spacing: 1px;
}
.skin_content {
    font-size: 18px;
    font-weight: 600;
    padding: 25px 0px;
    letter-spacing:2px;
    color: #F7F6F4;

}
.product_our p {
    padding-top: 15px;
}
.product_cols {
    width: 25%;
    padding:20px;
}
.container.product_our {
    /* padding-top: 60px; */
}
.product_our h1 {
   text-align: center;
    color: #686058;
    font-size: 25px!important;
    font-family: Gotham;
    font-weight: bolder;
}
.product_our p {
    text-align: center;
    color: #f7f6f4;
    font-size: 14px;
    font-family: Gotham;
    font-weight: 600;
    width: 35%;
    background: #686058;
    margin: 0px auto;
    margin-bottom:170px;
    padding:8px;
}
span.product-name {
    text-align: center;
    display: block;
    padding-top: 15px;
  padding: 0 30px;
}
@media only screen and (min-width:768px){
  .col-md-6.div_left {
      max-width: 60%;
  }
  .col-md-6.div_right {
      max-width: 35%;
      margin-left: auto;
  }
  .img_content {
    padding: 0px 0px 0px 40px;
  }
  .img_content {
    padding-left: 80px;
    padding-right: 60px;
  }

}
@media only screen and (max-width: 767px){
  .product_image_Section img {
    width: 100%;
  }
  .product_detail_Section {
      margin-bottom: 20px;
  }
  .product_our .row .col-md-3 {
    margin-bottom: 15px;
}
  .col-lg-3.col-md-6.col-sm-12.featured_product_div .product_image_Section{
/*     padding-inline: 41px; */
  }
  .hero__inner{
   padding:0; 
  }
  .hero__btn {
    font-size:9px;
}
  
/* 14-9-21 */
  
  
  .row.image .col-md-12 h1 {
    padding-top:30px;
    font-size: 30px !important;
    font-family: Baskervville!important;
    font-weight:unset;
  }
/* END 14-9-21 */  
  
  
}
.formula-design-section span.heading_text {
    font-size: 46px;
    letter-spacing: 0px;
    color: #686058;
    text-align: center;
    font-family: 'GothamMedium';
}

@media only screen and (min-width: 1600px) and (max-width: 1600px){
  .hero--large {
      height: 800px;
  }
}
.grid__item.product-single__media-group.medium-up--one-half {
    display: flex;
  flex-direction:row-reverse;
}
.thumbnails-wrapper {
    width: 100px;
}
.product-single__thumbnails
{
 display:block;
  margin-top: 0;
}
/* product page css */

div#shopify-section-product-template .tab_para {
    display: none;
}



div#shopify-section-product-template .para_block {
    display: block;
    font-family: 'Gotham';
}
div#shopify-section-product-template .product_content {
    position: relative;
    margin-top: 20px;
    border-bottom: 2px solid black;
}
div#shopify-section-product-template .tabs h6 {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Gotham';
    font-weight: 700;
}
div#shopify-section-product-template span.drop_down {
    position: absolute;
    right: 0;
}
div#shopify-section-product-template .tabs_for_product {
    /* padding-bottom: 30px; */
    /* margin-top: -19px; */
    /* max-width: 25rem; */
}
div#shopify-section-product-template .para_block {
    padding-bottom: 25px;
}
div#shopify-section-product-template ul.social-sharing {
    display: none;
}
div#shopify-section-product-template .container.second-section .col-md-12 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 60px;
}
div#shopify-section-product-template .container.second-section .col-md-5 {
    position: relative;
}
div#shopify-section-product-template .container.second-section .first_img {
    position: absolute;
    bottom: 0;
    left: 40px;
}
div#shopify-section-product-template .container.second-section .second_img {
    text-align: right;
}
div#shopify-section-product-template .container.second-section .col-md-12 h1 {
    font-size: 50px;
    font-family: 'Baskervville';
    color: #686058;
}
div#shopify-section-product-template .container.second-section .col-md-12 p {
    font-size: 25px;
    font-weight: 600;
    color: #686058;
    font-family: 'Gotham';
}
div#shopify-section-product-template .col-md-8 {
    align-items: center;
    display: flex;
}
div#shopify-section-product-template .container.second-section .col-md-8 .description-part {
    width: 90%;
  font-size: 18px;
}
div#shopify-section-product-template .bg-color {
    background: #eae7ed;
}
div#shopify-section-product-template .container.second-section .row.main {
    padding-bottom: 17vh;
}
@media screen and (min-width: 768px)
{
  div#shopify-section-product-recommendations ul.grid.grid--uniform.grid--view-items {
    display: flex!important;justify-content:center;
  }
}
div#shopify-section-product-template .rowss {
    background-color: #686058;
    margin-top:unset;
}
div#shopify-section-product-template .skin_content {
    font-size: 20px;
    font-family: Gotham;
    font-weight: 600;
    padding-top: 15px;
    color: #f7f6f4;
}
div#shopify-section-product_info .shop_formula h3 {
    text-align: center;
    color: #686058;
    font-family: 'Gotham';
    font-size: 28px;
    font-weight: 700;
}
div#shopify-section-product_info .shop_formula .row .col-md-4 {
    text-align: center;
}
div#shopify-section-product_info .shop_formula .row .col-md-4 ul li {
    list-style: none;
    color: #686058;
    font-size: 20px;
    line-height: 38px;
    font-family: 'Baskervville';
}
div#shopify-section-product_info .shop_formula .row .col-md-12 {
    padding-bottom: 35px;
}
div#shopify-section-product_info .container.shop_product_our {
    padding-top: 30px;
    padding-bottom: 30px;
}
div#shopify-section-product_info .shop_product_our h1 {
    text-align: center;
}
div#shopify-section-product_info .shop_product_our .row {
    padding-top: 40px;
    padding-bottom: 40px;
}
div#shopify-section-product_info .shop_product_our .row .col-md-3 span.product-name {
    margin-top: 15px;
    text-align: center;
    display: block;
}
div#shopify-section-product_info .shop_product_our p {
    text-align: center;
    text-decoration: underline;
}
/* div#shopify-section-product_info .ingredient_index {
    background-image: url(//cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientsBanner_V1_1920x.png?v=1630325464);
    height: 400px;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
} */
 .row.image .col-md-12 h1 {
    font-size: 48px;
    font-family: 'Baskervville';
    text-align: center;
    color: #686058;
}
.button_new_w,
.button_new_w:hover,
#shopify-section-1630062950f1951ead .row.image .col-md-12 p a,
#shopify-section-1630062950f1951ead .row.image .col-md-12 p a:hover,
#shopify-section-about .row.image .col-md-12 p a,
#shopify-section-about .row.image .col-md-12 p a:hover {
    text-align: center;
    background: white;
    padding: 5px 40px;align-items: center;
    margin: 30px auto;display: inline-flex;border-bottom: 0px !important;text-decoration: none;
}
 .row.image .col-md-12 a {
    font-family: 'Gotham';
    font-weight: bold;
}
.row.image .col-md-12{
    position: absolute;
    text-align: center;
}
.row.image{
    justify-content: center;
    align-items: center;
}
div#shopify-section-product-recommendations {
    background: #F7F6F4!important;
}
div#shopify-section-product_info {
    background: #F7F6F4;
}
div#shopify-section-product-template {
    background: #F7F6F4;
}
span.product-title {
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 5px;
}
span.product-price {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

div#shopify-section-product_info .circle {
    border: 1px solid #707070;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border-radius: 50%;
}
div#shopify-section-product_info .circle_content {
    padding-top: 30px;
  text-align: center;
}
 div#shopify-section-product_info .circle_content h5 {
    color: #686058;
    font-size: 20px;
    font-family: 'Gotham';
    font-weight: 600;
}
div#shopify-section-product_info  .circle_content p {
    color: #686058;
    font-family: 'Gotham';
    font-size: 18px;
    width: 85%;
    margin: 0px auto;
}
div#shopify-section-product_info .our_beauty h3 {
    text-align: center;
    color: #686058;
    font-family: 'Gotham';
    font-size: 28px;
    font-weight: 600;
}
.h4.grid-view-item__title.product-card__title {
   text-align: center;
    display: block;
    margin-bottom: 15px;
    font-family: 'Baskervville';
    font-size: 18px;
}
dl.price.price--listing {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
.product-recommendations__inner h1 {
    text-align: center;
    color: #686058;
    font-family: Gotham;
    font-size: 25px;
    font-weight: bold;
}
.product-card__title, a:hover{
    border-bottom:none!important;
}
main#MainContent {
    background: #f7f6f4;
}
/*  end product page css */

/* header css */
.site-nav {
    position: relative;
    text-align: left;
/*     margin: 27px 28px; */
}
header.site-header.border-bottom.logo--left {
    background: #f7f6f4;
    padding-top: 1rem;
/*     padding-bottom: 0.5rem; */
}
.grid.grid--no-gutters.grid--table.site-header__mobile-nav {
/*     background: #F7F6F4; */
}
.announcement-bar {
    display: none;
} 
.site-nav__label {
    border-bottom: unset;
}
a span.site-nav__label:hover {
    text-decoration: none;
    border-bottom: unset;
}
@media only screen and (min-width: 750px){
 .site-header .medium-up--one-half {
    width: 70%;
}
  .medium-up--one-quarter {
    width: 25%!important;
}
}
a.site-nav__link.site-nav__link--main span.site-nav__label {
    color: #686058;
    font-weight: bolder;
    font-family: Gotham;
    text-shadow: 0 0 #686058;
}
.site-header__logo-image {
    max-width: 100%!important;
/* img.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 100%!important;
} */
@media only screen and (max-width:767px){
     button.btn--link.site-header__icon.site-header__search-toggle.js-drawer-open-top, a.site-header__icon.site-header__cart, a.site-header__icon.site-header__account {
        padding-left: 0;
} 
  .site-header__icons {
    width: 70%;
    padding-right: 0px;
}
  .site-header__logo {
/*     padding-right: 3rem; */
    text-align: left;
}
}
/* end header css */

/* pages css */
.row.align-items-center, div#shopify-section-1630062950f1951ead .row, .row.third__section.align-items-center {
    padding-inline: 23px;
}
div#shopify-section-1630062950f1951ead .row.align-items-center{
    padding-top: 2rem;

}
.row.align-items-center2 {
    padding-bottom: 2rem;
}
/*end pages css  */

.img_content {
    display: flex;
  	padding-top: 38px;
}
p.content_txt {
    text-align: center;
    letter-spacing: 1.5px;
    color: #686058;
    opacity: 1;
    font-family: 'Gotham';
    font-size: 15px;
}
.border-bottom
  {
    border-bottom: unset!important;
  }

.img_content p.content_txt {
    text-decoration: none;
}

/* media query */
@media (min-width: 1200px){
.container {
    max-width: 1140px;
    margin: 0 auto;
}
}
@media only screen and (max-width: 767px) {
	p.content_txt {
    font-size: 6px;
    padding-right: 1px;
    padding-left: 16px;
}
 .formula-design-section span.heading_text {
    font-size: 25px;
    word-break: break-all;  
}
  .product_our h1 {
    font-size: 30px;
}
  .col-md-12.card-deck .card {
    justify-content: center;
    display: flex;
    align-items: center;
}
  div#shopify-section-1630062950f1951ead .row.heading_section {
    padding-top: 2rem;
}
  .inner_section_left span:not(.thin_heading_section) {
    white-space: initial;
}
  .inner_section_left p.paragraph {
    font-size: 18px;
}
  .inner_section_left a {
    font-size: 15px;
}
  .formula-design-section {
    padding: 8px 0px;
    padding-bottom:unset;
}
  .row.align-items-center2 {
    flex-direction: column-reverse;
    padding-bottom:1rem;
}
  .right_section p.sub_heading,.left_third_section p.sub_heading, .inner_section_left span:not(.thin_heading_section) {
    font-size: 27px;
}
  .right_section .paragraph_section p, .left_third_section .paragraph_section span  {
    font-size: 18px;
}
  .left_third_section .btn-section a
  {
   font-size:15px;
  }
  .right_section .btn-section, .left_third_section .btn-section {
    padding: 34px 0px;
    margin-top:0;
}
  .right_section .btn-section a {
    font-size: 15px;
}
  .rowss {
    margin-top: 12px;
}
  .product_our p {
   font-size: 13px;
    margin-top: 0;
    padding-bottom: 2rem;
}
  #shopify-section-about .product_our p
  {
   width:85%;
    padding:10px;
  }
  div#shopify-section-1630062950f1951ead .row.align-items-center {
     padding-bottom: 0;
    padding-inline: 23px;
    display:block;
}
  div#shopify-section-1630062950f1951ead .col-md-6 {
     max-width:100%;
     justify-content:center;
  }
  
  .featured_product_section {
    margin-top: 0px;
}
  div#shopify-section-hero-1 h2.h1.mega-title.mega-title--large {
    font-size: 21px;
}
  div#shopify-section-hero-1 .text-center .mega-subtitle p{
     font-size:11px;
    padding-top: 7px;
  }

  .performance .row.perform_back_img:nth-child(1) .perform_img {
     padding: 0px!important;
}
  img.card-img-top {
    padding: 0px!important;
    width: 100%;
}
  .card-body {
    padding-inline: 2px;
}
  .slick-list.draggable {
    padding: 0!important;
}
  .row.align-items-center, .row.third__section.align-items-center, div#shopify-section-1630062950f1951ead .row {
    padding-inline: 31px;
}
}
  .back_top h6 {
    color: #686058;
    font-family: 'Gotham';
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}
  .back_top {
    padding: 35px 0px;
}
span.paragraph p:nth-child(2) {
    padding-top: 20px;
    color: #686058;
}
.col-md-12.card-deck .card {
    background: #f7f6f4;
    border: none;
}
h5.card-title {
    font-family: Gotham;
    text-align: center;
    color: #686158;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 1.5px;
}
img.card-img-top {
    padding: 25px;
    width: auto;
    padding-bottom:unset;
}
.container.product_our .row {
    justify-content: center;
    /* padding-bottom:55px; */
}
.col-lg-3.col-md-6.col-sm-12.featured_product_div {
    z-index: 99;
}
span.sub-heading {
    font-family: 'Baskervville';
}
div#shopify-section-1630062950f1951ead .col-md-6 {
    align-items: center;
    display: flex;
    margin-bottom:10px;
}
.container.shop_formula {
    /* padding: 40px; */
    /* padding-top:70px!important; */
}
@media screen and (min-width: 1024px)
{
  .shop_formula .row .col-md-12 {
    padding-bottom: 35px;
  }
}
  .shop_formula .row .col-md-4 {
    text-align: center;
}
  .shop_formula h3 {
    text-align: center;
    color: #686158;
    font-family: 'Gotham';
    font-size: 25px;
    font-weight: 700;
}
  .shop_formula .row .col-md-4 ul li {
    list-style: none;
    color: #686158;
    font-size: 26px;
    line-height: 38px;
    font-family: 'Baskervville';
}
@media (min-width:768px) and (max-width:768px) {
.site-header__account, .site-header__cart {
    padding: 2px;
}
 
  div#Hero-hero-1{ 
    background-size: contain;
    height: 406px;
}
  .hero__inner{
    padding:0;
  }
  h2.h1.mega-title {
   font-size: 41px;
}
  .text-center .mega-subtitle p {
    font-size: 19px;
    padding-top: 14px;
}
  .hero__btn {
    font-size: 18px;
    padding-inline: 24px;
}
  span.product_price {
    font-size: 15px;
}
  .product_detail_Section a {
    font-size: 12px;
}
  .formula-design-section span.heading_text {
    font-size: 30px;
}
  .inner_section_left span:not(.thin_heading_section) {
    font-size: 28px;
    line-height: 2.5rem;
}
  .inner_section_left p.paragraph {
    font-size: 17px;
    margin-bottom:16px;
}
  .inner_section_left a {
    font-size: 17px;
}
  div#shopify-section-1630049045e02c9e57 {
    margin-inline: 5rem;
}
  .product_detail_Section {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
}
  .product_image_Section img{
    width:100%; 
  }
  .formula-design-section {
    padding-top: 11px;
    padding-bottom: 40px;
}
  .col-lg-5.col-md-6.col-sm-6.div_right {
    margin: auto;
}
  div#shopify-section-1630062950f1951ead .col-md-6 {
    align-items: center;
    display: flex;
}
  .right_section p.sub_heading {
    font-size: 28px;
    line-height: 2.5rem;
    word-break: break-all;
}
  .right_section .paragraph_section p {
    font-size: 17px;
    margin-bottom: 17px;
}
  .right_section .btn-section {
    margin-top: 23px;
}
  span.paragraph p:nth-child(2) {
   padding-top: 0px;
}
  .row.third__section {
    margin-top: -44px;
}
  .left_third_section p.sub_heading {
    font-size: 30px;
    word-break: break-all;
}
  .card-body {
    padding-inline: 0;
}
  h5.card-title {
    font-size: 9px;
}
  img.card-img-top {
    padding: 0px;
    width: 100%;
}
  .row.list_icon2 {
    display: block!important;
}
  .row.list_icon {
    display: none;
}
  .col-lg-3.col-md-6.col-sm-12.featured_product_div .product_image_Section{
    padding: 41px;
  }
  .hero__inner{
   padding:0; 
  }
}
@media (min-width:1024px) and (max-width: 1024px){
 .row.third__section {
    margin-top: -13px;
}
  .right_section p.sub_heading {
    font-size: 33px;
}
  .row.align-items-center2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
  img.card-img-top {
   padding: 7.5px;
    width: 100%;
}
  .container.product_our .card-body {
    padding-inline: 0;
}
  h5.card-title {
    font-size: 12px;
}
  .formula-design-section span.heading_text {
    font-size: 41px;
}
  .site-nav__link span.site-nav__label {
    font-size: 15px;
}
 .site-header__account,.site-header__cart,
.btn--link{
    padding: 7px;
}
  .middle_pro .row .col-md-12 {
    left:7%!important;
  }
  #shopify-section-1630049045e02c9e57 .down_ward.container {
    max-width: 900px!important;
}
  #shopify-section-about .product_our p {
    width: 42%;
    padding-bottom: 8px!important;
}
  #shopify-section-shop .down_ward.container.shop_product {
    max-width: 900px!important;
}
  #shopify-section-shop .product_our p
  {
   width:42%;
  }
  div#shopify-section-product-template .container.second-section .second_img
  {
   text-align:center;
  }
}

main#MainContent a{
/*   text-decoration:underline; */
/*   border-bottom: 1px solid transparent; */
  font-family: Gotham;
    font-weight: 700;
    text-transform: uppercase!important;
}
a.btn.hero__btn {
    text-decoration: none!important;
    align-items: center;
    justify-content: center;
    display: flex;
}
}
.search {
    float: left;
}
#shopify-section-ingredients_section .search input[type=text]{
   font-family: Gotham;
    border: none;
    font-size: 13px;
    margin:0px auto;
    display:block;
    padding: 5px 55px 5px 7px;
}
div#shopify-section-hero2 {
    padding-top: 0;
}

.col-md-12.beauty-icon {
    text-align: right;
}
button.site-nav__link.site-nav__link--main.site-nav__link--button:focus-visible {
    outline:none!important;
}
button.site-nav__link.site-nav__link--main.site-nav__link--button:focus {
    outline:none!important;
}
div#SiteNavLabel-about {
    left: -42px;
    text-align: center;
    width: 190px;
    padding-right: unset;
    font-size: 20px;
    background: #f7f6f4;
    border: none;
}
.site-nav__link span.site-nav__label {
    font-weight: bold;
    color: #686058;
    font-family:'Gotham';
    text-shadow: 0 0 #686058;
    font-size: 22px;
}
button:focus {
    outline: unset;  
}
 a.site-nav__link.site-nav__child-link span.site-nav__label {
    font-weight: unset;
    font-size: 16px;
}
nav#AccessibleNav ul#SiteNav {
    display: flex;
    justify-content: space-evenly;
}
.grid.grid--no-gutters.grid--table.site-header__mobile-nav {
  	background: #f7f6f4;
    display: flex;
    align-items: center;
}
button.site-nav__link.site-nav__link--main.site-nav__link--button {
    font-weight: bolder;
    color: black;
}
.site-header__icons-wrapper button.btn--link.site-header__icon.site-header__menu.js-mobile-nav-toggle.mobile-nav--open {
    display: none;
}
@media only screen and (max-width:768px)
{
  .cols-setting img {
    margin-bottom: 15px;
}
 .container.shop_formula
    {
      padding:20px;
    }
    .shop_formula h3
    {
     font-size:20px;margin: 20px 0px 30px 0px;line-height: 30px;
    }
    .shop_formula .row .col-md-4
    {
     width:33.33333%;
    }
    .shop_formula .row .col-md-4 ul li
    {
      font-size:14px;
      line-height:30px;
    }
  .site-header__logo {
    padding-inline: 0rem;
}
  div#Hero-hero {
    height: 30vh;
}
    div#shopify-section-1630049045e02c9e57 {
    padding-top: 50px;
}
}
#MobileNav li.mobile-nav__item{
    background: #f7f6f4;
    text-align:center;
}
#MobileNav button.btn--link.js-toggle-submenu.mobile-nav__link {
    text-align: center;
}
/* #MobileNav span.mobile-nav__label {
    font-size: 25px;
} */
#MobileNav .mobile-nav__item a.mobile-nav__link {
    padding-bottom: unset;
}
#MobileNav .mobile-nav__return
{
 border-right:unset;
}
#MobileNav button.btn--link.js-toggle-submenu.mobile-nav__return-btn {
    display: none;
}
#MobileNav .mobile-nav__icon {
    display: none;
}
.mobile-nav__item span.mobile-nav__label {
    font-weight: bold;
    color: #686058;
    font-family:'Gotham';
    font-size: 30px;
}
a.mobile-nav__sublist-link span.mobile-nav__label {
    font-size: 25px !important;
}
button.btn--link.site-header__icon.site-header__search-toggle.js-drawer-open-top
{
  font-size: 20px;
}
button.btn--link.site-header__icon.site-header__search-toggle.js-drawer-open-top img
{
  width: 25px;
}
#MobileNav li:nth-child(1) span.mobile-nav__label:hover {
    border-bottom: 1px solid #686058;
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .product_our p
  {
    margin-top:unset;
    padding-bottom:2rem;
  }
  .site-header__logo
  {
    padding-inline:unset;
  }
}
@media only screen and (min-width:1024px) and (max-width:1024px) {
  .product_our p
  {
    margin-top:unset!important;
    padding-bottom:2rem!important;
  }
  #shopify-section-1630062950f1951ead .product_our p
  {
   width:40%;
    padding-bottom:8px!important;
  }
}
@media only screen and (min-width:769px){
   .hero--large {
    height: 100vh!important;
     background-attachment:fixed;
}
  .hero--large .hero__inner .page-width {
    max-width: 85%;
    margin: 0 auto;
}
}
@media only screen and (min-width:1920px){
.site-nav__link span.site-nav__label
{
  /* font-size:28px!important; */
}
}
#slidecart-checkout-form button.button.full {
    background: #686058;
    text-transform:uppercase;
}
#slidecart-checkout-form button.button.full:hover {
    background: #686058;
}
.slidecarthq.right.light.open.checkpoint {
    background: #f7f6f4!important;
}
#slidecarthq .footer
{
  background-color:unset!important;
}
.slidecarthq .footer .footer-row:nth-child(1) {
    display: none!important;
}
#slidecarthq .items+.footer
{
 margin-top:unset!important;
}
#slidecarthq .footer-row ~ .footer-row:last-of-type
{
 border-top:unset!important;
  padding-bottom:unset;
}
.footer-row strong.flex {
    text-align:right;
    width:50%;
    color:#686058;
}
.footer-row strong.slidecart-subtotal
{
   width:50%;
   color:#686058;
   padding-left:3px;
}
#slidecarthq .footer
{
  padding:unset!important;
}
#slidecarthq .button.full p {
      font-family: 'Gotham';
    color: #686058;
    width: 75%;
    margin: 8px auto;
    font-weight: 700;
   font-size: 15px;
    line-height:19px;
}
#slidecarthq .footer .button {
    border-radius: unset!important;
}
#slidecarthq .main h3.title a {
    font-family: 'Baskerville';
    font-size: 18px!important;
    color: #686058!important;
}
#slidecarthq .footer-row strong {
    font-weight: 600;
    color: #686058!important;
    text-transform: uppercase;
    font-family:'Gotham';
    font-size:14px!important;
    letter-spacing: 1px;
}
.button.full span {
    text-transform: uppercase;
}



@media only screen and (min-width:769px){
#slidecarthq .slidecarthq.right
{
/*  max-width:365px!important; */
}
  #slidecarthq .item .main-bottom
  {
   display:grid!important;
  }
  #slidecarthq .quantity-selector
  {
   order:1;
  }
  button.copy_remove
  {
   order:3;
  }
  #slidecarthq .item .price
  {
   text-align:left!important;
  }
  #slidecarthq .item .main-bottom
{
 position:relative;
}
#slidecarthq button.copy_remove {
    position: absolute;
    right: 20px;
    top: 33px;
    text-decoration: underline;
    font-weight: 500;
    color: #686058;
}
  
}

@media only screen and (max-width:768px)
{
  #slidecarthq .item .main-bottom
  {
   flex-direction:column-reverse;
    align-items:self-start!important;
  }
  #slidecarthq .item
  {
   padding-inline:60px!important;
  }
 
  #slidecarthq .quantity-selector button
  {
   border:unset!important;
  }
  #slidecarthq .slidecarthq .items .main .quantity-selector input[type="text"] {
    border-top: unset!important;
     border-bottom:unset!important;
    font-size:18px;
}
  #slidecarthq .item .main-bottom
  {
   display:grid!important;
  }
   #slidecarthq .quantity-selector
  {
   order:1;
  }
  button.copy_remove
  {
   order:3;
  }
   #slidecarthq .item .price
  {
   text-align:left!important;
  }
  #slidecarthq button.copy_remove {
    text-decoration: underline;
    font-weight: 500;
    color: #686058;
}

}
 #slidecarthq .item .main-top
  {
   margin-bottom:unset!important;
  }
#slidecarthq .quantity-selector
  {
   margin-top:10px;
  }
.slidecarthq button.remove.cross {
    display: none;
}
.shop_product_our p
{
 font-size: 18px;
    color: #686058;
    font-family: 'Gotham';
    font-weight: 700;
}
div#SiteNavLabel-about {
    width: 300px;
}
div#shopify-section-newsletter {
  
  background:#686058fa;
}
#shopify-section-newsletter
{
    padding-top: unset;
  padding-bottom: unset;
}

.newsletter-section .form-single-field
{
  margin-bottom:unset;
}
h2.news-heading {
    font-size: 28px;
    font-family: 'Baskervville';
    color: #fff;
    text-transform: capitalize;
    margin-bottom:25px;
}
.newsletter-section .section-header
{
   margin-bottom:25px;
}

.newsletter-section .input-group button.btn,
.newsletter-section .input-group button.btn:hover {
    display: ;background: #fff8f8;
    color: #000;
    border: 0px !important;
}
.newsletter-section .input-group button.btn:focus {outline: none !important;}
input#Contact_newsletter-email {border:1px solid #fff8f8 !important;}
div#shopify-section-emdesh__footer {
    margin-top: -2px;
}
 
  .shop_pro_view span {
    cursor: pointer;
}
  .shop_pro_view input[type="submit"] {
   border: none;
    padding: 10px;
    color: #f7f5f4;
    font-size: 14px;
    background:#686158;
    font-family: 'GothamMedium';
    letter-spacing: 1.5px;
}
  .shop_pro_view {  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
/*     width:130px; */
    margin:0px auto;
    text-align: center;
    /* margin-bottom: 60px!important; */
    font-family: 'Gotham';
    font-size: 12px;
    letter-spacing: 1px;
    margin-top:15px!important;
    font-weight:bold;
    color:#686058;
  }
  div#shopify-section-1630062950f1951ead .shop_proview.shop_pro_view {
    justify-content: flex-start;
  }
  .template-index .rte-setting.mega-subtitle.mega-subtitle--large {
    padding-top:12px;
  }

@media only screen and (max-width:767px){
.hero--large
{
 height:240px
}
    .shop_pro_view
    {
      margin-bottom: 40px!important;
  }
  .hero__btn
  {
   margin-top:13.5px;
  }
  
}
@supports (-webkit-touch-callout: none) {
    @media only screen and (max-width:768px){
    #shopify-section-newsletter{
        padding-top: unset;
        padding-bottom: unset;
    }
   .right_section .btn-section
    {
       padding:30px 0px;
    }
      .left_third_section .btn-section
      {
        padding:30px 0px;
      }
      .hero__btn
      {
       line-height:20px;
        padding-bottom:unset; 
      }
      .inner_section_left p.paragraph
      {
       font-family:-apple-system;
      }
      .product_our h1
      {
         font-family:-apple-system;
      }
      .search input[type="text"]
      {
         font-family:-apple-system;
      }
      .ingredient_card h5.card-title
      {
         font-family:-apple-system!important;
      }
      .ingredient_card h6.card-subtitle.mb-2.text-muted
      {
          font-family:-apple-system!important;
      }
      div#shopify-section-product-template .tabs h6
      {
        font-family:-apple-system!important;
      }
      div#shopify-section-product-template .skin_content
      {
         font-family:-apple-system!important;
      }
      div#shopify-section-product_info .shop_formula h3
      {
          font-family:-apple-system!important;
      }
      .mobile-nav__item span.mobile-nav__label
      {
        font-family:-apple-system!important;
      }
      #slidecarthq .footer-row strong
      {
         font-family:-apple-system!important;
      }
      #slidecarthq .button.full p
      {
        font-family:unset!important;
      }
      .inner_section_left a
        {
         padding:23px;
         padding-bottom:12.5px;
        }
      .right_section .btn-section a
      {
        padding:23px;
       padding-bottom:12.5px;
		}
      .left_third_section .btn-section a
      {
          padding:23px;
          padding-bottom:12.5px;
      }
      #shopify-section-ingredients_section .search input[type=text]
      {
        font-family:-apple-system!important;
      }
      .circle_content p
      {
        font-family:unset!important;
        text-shadow:unset;
      }
     
    }
  
   
  
  
   @media only screen and (min-width:768px){
    #shopify-section-newsletter
    {
        padding-top: unset;
      padding-bottom: unset;
    }
 
   
   }
}

  @media not all and (min-resolution:.001dpcm) {
     @supports (-webkit-appearance:none) {
       @media only screen and (min-width:768px){ 
      
       main#MainContent a{
       font-family:unset !important;
       }
     .home_btn{
      padding-bottom:unset !important;
       } 
       } 
     }
}

@media only screen and (max-width:340px) {

ul.mobile-nav__dropdown {
    transform: translateY(70px);
}

}
/* .ul-toggle {
	display:none;
} */
div.toggle_up {
    transform: translate3d(0px, 135px, 0px)!important;
}

div.toggle_down {
    transform: translate3d(0px, 0px, 0px)!important;
}
#MobileNav button.btn--link.js-toggle-submenu.mobile-nav__link {
    text-align: center ;
  	
}
ul.mobile-nav__dropdown-toggle span.mobile-nav__label {
    font-weight: normal;
}
button.btn--link.js-toggle-submenu.mobile-nav__link.is-active::before {
    content: '';
    width: 72px;
    height: 2px;
    margin: auto;
    background: #686058;
    font-weight: 600;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}
ul.mobile-nav__dropdown-toggle {
	display:none;
}

   button.btn.product-form__cart-submit.btn--secondary-accent {
    background: #686058!important;
     color:#ffffff;
}
  .para_block p {
    font-size: 15px;
    color: #686058;
    font-family: 'Gotham';
}
  div#PageContainer {
    background: #F7F6F4;
}
#MobileNav .mobile-nav__item button.btn--link.site-header__icon.site-header__search-toggle.js-drawer-open-top {
    display: inline-block!important;
}
#MobileNav .mobile-nav__item span.icon__fallback-text {
    display: contents;
}

@media only screen and (max-width:1024px)
{
  .thumbnails-wrapper
  {
    display:none;
  }
  #shopify-section-product-template .rowss {
    display: none;
}
}
@media only screen and (max-width:768px)
{
  div#shopify-section-product-template .container.second-section .col-md-12 h1
  {
    font-size:25px;
  }
  div#shopify-section-product-template .container.second-section .col-md-12 p
  {
    font-size:14px;
  }
  div#shopify-section-product-template .container.second-section .col-md-12
  {
   margin-bottom:unset;
    margin-top:20px;
  }
  .second-section .image-part {
    text-align: center;
}
  div#shopify-section-product-template .container.second-section .col-md-8 .description-part
  {
   width:100%;
  }
  div#shopify-section-product-template .container.second-section .first_img
  {
   left:13px;
    top:53px;
  }
  div#shopify-section-product-template .container.second-section .col-md-5
  {
    margin-top:35px;
  }
  .second-section .col-md-7 {
    margin-top: 35px;
}
  .second-section .col-md-7 .row {
    margin-bottom: 24px;
}
  div#shopify-section-product-template .tabs h6
  {
   font-size:13px;
  }
  div#shopify-section-product_info .shop_formula h3
  {
    font-size:20px;
  }
  .second-section .first_img img {
    width: 315px;
}
  .second-section .second_img img {
    width: 315px;
}
  .product-recommendations__inner h1
  {
   font-size:20px;
  }
  div#shopify-section-product-template .container.second-section .row.main
  {
   padding-bottom:10vh;
  }
#shopify-section-product-template .grid__item.product-single__media-group.medium-up--one-half {
    display: none;
}
  .thumbnails_images img {
    margin: 0px auto;
    display: block;
    width:100%;
}
  .thumbnails_images {
    margin-left:20px;
    margin-bottom:20px;
}
  #slidecarthq .item .main
{
  margin-left:40px!important;
}
}

@media only screen and (min-width:320px) and (max-width:325px){
  .row.image .col-md-12 h1
  {
   margin-top:unset;
    margin-bottom:unset;
  }
  .row.image .col-md-12 p
  {
   margin:20px auto;
  }
  div#shopify-section-product_info .shop_formula h3
  {
   font-size:15px;
  }
  div#shopify-section-product_info .shop_formula .row .col-md-4 ul li
  {
    font-size:15px;
    line-height:28px;
  }
  .product_our h1
  {
   font-size:15px;
  }
  .product-recommendations__inner h1
  {
   font-size:15px;
  }
     .second-section .first_img img {
    width: 270px;
}
  .second-section .second_img img {
    width: 270px;
}
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .second-section .first_img img {
    width: 220px;
}
  .second-section .second_img img {
    width: 220px;
}
  div#shopify-section-product-template .container.second-section .first_img {
    left: 20px;
    top: 45px;
}
  div#shopify-section-product-recommendations ul.grid.grid--uniform.grid--view-items
  {
   display:unset!important;
  }
  .product-recommendations__inner .medium-up--one-quarter {
    width: 50%!important;
}
  div#shopify-section-product-template .container.second-section .col-md-12 h1
  {
   font-size:35px;
  }
  div#shopify-section-product-template .container.second-section .col-md-12 p
  {
   font-size:20px;
  }
  .product-recommendations__inner h1
  {
   font-size:35px;
  }
  div#shopify-section-product_info .shop_formula h3
  {
   font-size:35px;
  }
  div#shopify-section-product-template .container.second-section .row.main
  {
   padding-bottom:10vh;
  }
}
@media only screen and (min-width:768px)
{
  #shopify-section-header2 a.site-header__icon.site-header__account {
    display: none;
}
  @media only screen and (min-width:1920px)
  {
    .product-form--payment-button-no-variants
    {
     max-width:32rem;
    }
    .product-form__item--no-variants
    {
/*      max-width:500px; */
      max-width:32rem;
    }
    div#shopify-section-product-template .tabs_for_product
    {
     max-width:32rem;
    }
  }
.thumbnails_images {
    display: none;
}
}
div#shopify-section-insta {
    background: #f7f6f4;
    margin: 0px;
    padding: 0px;
    display: none;
}
div#shopify-section-header2 {
    background: #f7f6f4;
}
#slidecarthq .header h2 
{
  font-weight:bold;
  color:#686058!important;
  font-family:'Gotham';
}
#slidecart-checkout-form p {
    text-align: center;
    color: #686058;
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Gotham';
}
  .backimg .container {
    padding-top: 40px;
}
  .backimg .container h1 {
    font-size: 35px;
    color: #686158;
    text-align: center;
    font-family: 'Baskervville';
   
}
.backimg .container h1 strong {
    font-family: 'Gotham';
    font-weight: bold;
}
  .backimg p {
    z-index: 999;
    position: relative;
    text-shadow: 2px 2px 2px #f7f6f4;
    text-align: center;
    color: #686158;
    font-size: 18px;
    font-family: 'Gotham';
    width: 86%;
    margin: 0px auto;
    padding-bottom: 30px;
}
.backimg .col-md-12 p strong {
    font-size: 25px;
}
  .backimg .row .col-md-12 {
    padding-left: 20px;
    padding-right: 20px;
}
#shopify-section-1630062950f1951ead .backimg .container {
    padding-top: unset;
}
.containers.what_stand 
  {
    padding-top: 40px;
    padding-bottom:100px;
}
  h1.first-sec-heading {
    color: #686158;
    font-weight: bold;
    font-family: 'Gotham';
    letter-spacing: 0px;
    font-size: 25px;
    padding-top: 30px;
}
  .what_stand .row .col-md-4 {
    text-align: center;
    padding:20px 0px;
    padding-top:unset;
}
.circle 
  {
   margin: 0px auto;
    display: block;
    text-align: center;
  }
    .circle_content {
    padding-top:25px;
       padding-left:20px;
       padding-right:20px;
}

  .circle_content h5 {
    color: #686158;
    font-size: 20px;
    font-size: 26px;
    font-family: 'Baskervville';
    letter-spacing:0px;
}
  .circle_content p {
    text-shadow: 2px 2px 2px #f7f6f4;
    position:relative !important;
    z-index:999 !important;
    color: #686158;
    font-family: 'Gotham';
    font-size: 18px;
    width: 100%;
    margin: 0px auto;
}
div#shopify-section-1630062950f1951ead .row.image {
    padding-inline: unset;
}
.backimg
{
 position:relative;
}
img.pic1 {
    position: absolute;
   left: 0%;
    top: 15%;
}
img.pic2 {
    position: absolute;
    right: 2px;
    bottom: 10%;
}
.what_stand
{
 position:relative;
}
img.pic3{
  position:absolute;
  left:0%;
  top:14%;
}
.shop_proview input[type="submit"] {
    color: #686058;
    background: #f7f6f4;
    border: none;
}
.middle_pro .col-md-12 h1 {
    font-size: 50px;
    font-family: 'Gotham';
    color: #686058;
    padding-bottom: 25px;
    margin: 0px;
  	font-weight: bold;
}
.middle_pro .col-md-12 p {
    color: #686158;
    font-size: 18px;
    width:38%;
    font-family: 'Gotham';
    font-weight:500;
    padding-bottom: 25px;
    margin: 0px;
}
.middle_pro .row {
    padding: 0px!important;
    position: relative;
    align-items: center;
}
.middle_pro .row .col-md-12 {
    position: absolute;
   left:15%;
}
/* .row.image .col-md-12 p a {
    text-decoration: none!important;
} */
.container.product_our a {
    text-decoration: none!important;
}
#shopify-section-1630062950f1951ead .container.shop_formula {
    padding-top: 100px;
}
.iconss {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 40px;
/*    padding-top:100px; */
}
#shopify-section-about img.pic1
{
 top:14%;
}
.iconss img {
    cursor: pointer;
}
#shopify-section-shop .product_our p
{
  background:unset;
  color:#686058;
  width:38%;
  text-decoration:underline;
  margin-bottom:unset;
  margin-top:20px;
}

/* #shopify-section-1630062950f1951ead .row.image .col-md-12 p
{
 width:140px!important;
} */
/* #shopify-section-about .row.image .col-md-12 p
{
  width:140px!important;
} */
#shopify-section-shop .container.banner_cont {
    padding-left: unset;
    padding-right: unset;
}
#shopify-section-shop .container.product_our {
    padding-bottom: 45px;
}
 #shopify-section-product_info .product_our p
  {
   width:80%;
   padding-bottom:unset;
   background:none;
   color:#686058;
   text-decoration:underline;
  }
.index-section
{
 padding-bottom:unset;
}
@media only screen and (max-width:768px)
{
  .backimg p
    {
     width:100%;
     }
    .backimg .container h1
    {
     font-size:30px;
    }
  .circle_content p {
    font-size: 17px;
}
   .containers.what_stand
  {
    padding-top:unset;
    }
  #shopify-section-1630062950f1951ead .backimg .row .col-md-12 {
    padding-left: unset;
    padding-right: unset;
}
  .middle_pro .col-md-12 p
  {
    font-size:14px;
    width:60%;
    margin-bottom:3px;
  }
  .middle_pro .col-md-12 h1
  {
   font-size:18px;
    margin-bottom:3px;
  }
  .shop_proview input[type=submit]
  {
    font-size:12px;
  }
  .iconss
  {
   padding-top:unset;
  }
  #shopify-section-1630062950f1951ead .product_our p
  {
   width:65%;
   padding:10px;
  }
  #shopify-section-shop .product_our p
  {
   width:75%;
  }
}
@media only screen and (max-width:1024px){
.hero--large .hero__inner .page-width {
    max-width: 100%!important;
}
   #shopify-section-product_info .product_our p
  {
   width:80%;
   padding-bottom:unset;
   background:none;
   color:#686058;
   text-decoration:underline;
  }

}
@media only screen and (min-width:1200px){
/* new changes */ div#shopify-section-1630049045e02c9e57 {
/*     margin-top: -270px; */
       margin-top:-60px;
}
  #shopify-section-shop .container.shop_product {
    margin-top: -50px;
}
}
@media only screen and (min-width:768px) and (max-width:1024px){
  div#shopify-section-1630049045e02c9e57 {
    margin-top: 40px;
  }
  .product_image_Section
  {
    padding: 0 30px 0 30px;
  }
}
@media screen and (max-width: 1024px)
{
  #slidecarthq .slidecarthq-overlay, #slidecarthq .slidecarthq-overlay:empty,
  #slidecarthq .slidecarthq
  {
    top: 86px !important;
    box-shadow: none !important;
  }
}
@media screen and (max-width: 750px)
{
  #slidecarthq .slidecarthq-overlay, #slidecarthq .slidecarthq-overlay:empty,
  #slidecarthq .slidecarthq
  {
    top: 0px !important;
    box-shadow: none !important;
  }
/*   .btn, .shopify-payment-button .shopify-payment-button__button--unbranded
  {
    padding: 0 10px 0;
    line-height: 20px !important;
  } */
}

/* .btn, .shopify-payment-button .shopify-payment-button__button--unbranded
{
  padding: 0 10px 0;
  line-height: 40px;
} */

.recomm p
{
  width: 85% !important;
  font-size: 13px !important;
}
@media screen and (min-width: 1600px)
{
  .col-md-12.for-fixed-text
  {
    position: relative;
    height: 250px;
  }
  .row.list_icon2 {
    position: absolute;
    bottom: 0;
  }
  .ctm_text {
    height: 185px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px)
{
  .col-md-12.for-fixed-text
  {
    position: relative;
    height: 230px;
  }
  .row.list_icon2 {
    position: absolute;
    bottom: 0;
  }
  .ctm_text {
    height: 170px;
  }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .btn
  {
    font-family: -apple-system !important;
    padding: 12px 22px;
    font-weight: 500;
  }
  .shop_pro_view,
  .right_section .btn-section a,
  .left_third_section .btn-section a,
  .product_our p,
  .row.image .col-md-12 a,
  div#shopify-section-product-template .tabs h6,
  .para_block p,
  div#shopify-section-product-template .skin_content,
  .site-nav__link span.site-nav__label,
  .middle_pro .col-md-12 p,
  .footer_link div,
  .rowss .cols p,
  .about-banner .text-center .mega-subtitle p,
  .text-center .mega-subtitle p,
  .overview h1,
  .daily_monthly h3,
  .ingredient_card h1,
  #shopify-section-ingredients_section .search input[type=text],
  .banner_cont p,
  .shop_formula h3,
  .ingredient_card .list_term p,
  .backimg p,
  .perform_content p,
  .right_section .paragraph_section p,
  .left_third_section .paragraph_section span,
  .over_list p,
  .inner_section_left p.paragraph
  {
    font-family: -apple-system !important
  }
  .shop_product span.product-title
  {
    width: auto !important;
  }
  .shop_pro_view a{
    padding: 12px 20px !important;
    font-weight: 500;
  }
  .inner_section_left a {
    font-family: -apple-system !important;
    padding: 14px 28px;
    font-weight: 500;
  }
  .product_our p
  {
    width: 30% !important;
  }
  .row.image .col-md-12 p
  {
    color: #3a3a3a !important;
  }
  .skin_content marquee
  {
    background: #686058;
  }
  .circle_content p,
  .rowss
  {
    margin-top: 30px;
  }
}}


/* ul.slideshow__text-content-list h2.h1.mega-title.slideshow__title {
    font-size: 40px;
} */

@media screen and (max-width:1199px) {
	.shopify-section.featured_product_section {margin-top: -33px;}
}
@media screen and (max-width:850px) {
	div#shopify-section-1630049045e02c9e57 {margin-top: 00px;padding-top: 50px;}
  .slideshow__text-wrap--desktop .slideshow__text-content {top:50%;}
}

@media screen and (max-width:600px) {
	.ingredient_card .card p.card-text {margin-bottom: 30px;}
  body.template-index .shopify-section.formula-design-section .btn-section a {font-size: 13px;}
}

@media screen and (max-width:980px) and (min-width: 768px) {
.ingredient_card .col-lg-4.col-md-4.col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.social-icons .icon path {
    fill: #fff !important;
}
.site-footer__social-icons {padding-top:0px;padding-bottom:0px;}
.footer_icon ul li {margin:0px 5px !important;font-size:0px;}






.slideshow__text-content-list {
    max-width: 410px;
}
.slideshow__text-content-list h2.h1.mega-title.slideshow__title {
    font-size: 45px;
  margin-bottom:10px !important;
}
.mega-subtitle {font-size:16px;}


.home_img {
/*     height: 100vh; */
    object-fit: cover;
}
.home_img {
    width: 100%;
    object-fit: cover;
}
.slide_block {position: relative;}
.home_slider_text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width:1440px;
    margin: auto;
/*   padding:0px 55px; */
}



.home_slider_text h1 {
    font-size: 50px;
    font-family: 'Gotham';
    letter-spacing: 0;
    font-weight: 700;
    color: #686058;
    text-shadow: 0 0 #000;}
.home_slider_text p 
{
  font-size: 18px;
  font-weight:400;line-height: 1.5;
/*     font-family: 'Gotham'; */
  color:#686158;
  font-family: 'Gotham';
}
.slide_block {
    position: relative;
}
  .text_s {max-width:440px;}
.home_btn {   
    font-family: Gotham;
    color: #686158;
    background: #f7f5f4;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
    padding: 10px 18px;
    transition: .5s ease;
}
.bottom_arrow {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 40px;
}
.home_btn:hover {background-color: #4c4741;color:#fff !important;text-decoration: none;}
  
@media screen and (max-width:900px) {
  div#shopify-section-shop section.shop_page.parallax-window {height: auto !important;padding: 60px 0px;}
}
  
@media screen and (max-width:850px) {
/* 	.slideshow {position: relative;overflow: visible !important;max-height: initial !important;height: 100% !important;}
.slideshow__image {position:relative !important;height:100vh !important;}
.slideshow__slide {overflow: visible !important;position: relative !important;}
.slideshow__text-wrap--desktop .slideshow__text-content {position: relative !important;top: unset !important;}
.no-js .slideshow__text-content.slideshow__text-content--vertical-center, 
.slideshow__slide--active .slideshow__text-content.slideshow__text-content--vertical-center {top: unset !important;transform: none !important}
div#shopify-section-1630049045e02c9e57 {margin-top: 0px;} */
  
  .home_slider_text {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
    width: 100%;
    padding: 20px 20px 0px 20px;
}
  .home_img {
    width: 100%;
    object-fit: unset;
    height: auto;
}
  .text_s {
    max-width: 100%;
}
  .home_btn {color: #fff;
  background: #000000;}
  div#shopify-section-shop .shop_product .info {
    margin-top: 0px;
}
  div#shopify-section-shop .shop_product span.product-title {
    font-size: 14px;padding:0px;
}
  div#shopify-section-shop .down_ward.container.shop_product span.product-title {
    
    font-size: 14px;
}
}
@media screen and (max-width:768px) {
  div#shopify-section-skin_infographic .skin_info {height: auto !important;}
}
  @media screen and (max-width:767px) {
  	.home_slider_text h1 {font-size: 35px;}
    div#shopify-section-1630062950f1951ead .row.image,
    div#shopify-section-about .row.image 
    {
      height: 200px;
    }
    div#shopify-section-1630062950f1951ead .row.image img,
div#shopify-section-about .row.image img {object-fit: cover;height:100%;}
    #shopify-section-1630062950f1951ead .row.image .col-md-12 p a,
    #shopify-section-about .row.image .col-md-12 p a {padding: 5px 30px;}
    div#shopify-section-1630062950f1951ead .middle_pro img {height: 350px;object-fit: cover;}
    div#shopify-section-shop .shop_product span.product-title {font-size: 12px;padding:0px;}
    .shop_product .shop_pro_view input[type=submit] {padding-left: 20px;padding-right: 20px;}
    
  }
  @media screen and (max-width:480px) {
  	.home_slider_text h1 {font-size: 25px;margin-bottom: 10px; max-width:225px; margin-top: 14px;}
    .home_btn {width:100%;letter-spacing:1px;text-align: center;}
    .home_slider_text p {margin-bottom:20px;font-size: 17px;}
    div#shopify-section-1630062950f1951ead .middle_pro img {height: 300px;object-fit: cover;}
    div#shopify-section-1630062950f1951ead .shop_proview.shop_pro_view {margin-bottom: 0px !important;}
  div#shopify-section-shop .down_ward.container.shop_product span.product-title {padding:0px;font-size: 12px;}
    div#shopify-section-skin_infographic .skin_info {padding: 20px 0px;background-position: 40%;}
    div#shopify-section-skin_infographic .skin_info .container-fluid {padding-top:0px;}
    html body #slidecarthq .item {padding: 10px !important;}
    #slidecarthq .item .image, 
    #slidecarthq .item .image img {width: 70px !important;}
    #slidecarthq .item .main {margin-left: 15px!important;}
    #slidecarthq .main h3.title a {font-size: 14px!important;}
    #slidecarthq .item .main-bottom {margin-top: 0px !important;}
    #slidecarthq .slidecarthq .items .main .quantity-selector input[type=text] {font-size: 14px;}
    #slidecarthq .quantity-selector {margin-top: 0px;}
/*     #slidecarthq .item .main-bottom button.copy_remove {width: 100%;left: 0;} */
    button.copy_remove {position: relative;right: 0px;top: 0px;font-size:12px;}
    body.template-index .shopify-section.formula-design-section .btn-section a {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: center;
}
    .ingredient_index {height: 300px !important;}
    div#shopify-section-newsletter {
    padding-bottom: 20px;
}
  }
  
  .mobile-nav__item span.mobile-nav__label {font-size: 20px;}
  a.mobile-nav__sublist-link span.mobile-nav__label {font-size: 15px!important;}
  .mobile-nav__link, .mobile-nav__sublist-link {padding: 5px 10px;}
  button.btn--link.js-toggle-submenu.mobile-nav__link.is-active::before {bottom: 5px;}
  
  
  /* 19-10-21 */
  
  .Product_url_cusotm:hover{
    border:none !important;
    text-decoration: unset !important;
    
  }
  
 
  
/*   @media screen and (min-device-width:992px) and (max-device-width:1300px){
  
    .backimg p {
    max-width:60%;
    }
  }
  
  @media screen and (min-device-width:1050px)  and (max-device-width:1250px){
   .circle_content p {
     max-width:80%;
    
    }  
  
  } */
   
/*   @media screen and (min-device-width:593px) and (max-device-width:767px){
    
    .col-md-12.card-deck {
    display: grid !important;
    grid-template-columns: repeat(3,33%);
  }
  
  } 
  
  @media screen and (min-device-width:768px) and (max-device-width:1014px){
   
    .col-md-12.card-deck {
    display: grid !important;
    grid-template-columns: repeat(2,50%);
  }
    
  } */
  
  
/*   .tab_para:nth-child(1){
    display:none;
  }
   */

.template--product #slidecarthq .slidecarthq.right {
    max-width: 23% !important;
}  
  

/* new changes */ .home-slider .slick-dots {
    font-size: 28px;
/*  top: 50%; */
    bottom:40%;
    width:100%;
    text-align:center;
    position: absolute;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    z-index: 999999;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
  
.slick-dots li.slick-active button:before {
    color: #fff;
    font-size: 75px;
    color: #686058;
    opacity: 1.75;
}  
  
.slick-dots li a:before, .slick-dots li button:before {
   color: #fff;
    font-size: 75px;
    color: #686058;
    opacity: .75;
  
  }  
  
 .our_beauty .row .col-md-12 h3 {
    margin-top: 80px;
  } 
  
  .row.image 	.col-md-12 p a {
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Gotham';
}
  
 .row.image .col-md-12 p {
    margin:auto;
  }
  
  .transforme{
  transform: rotate(
  180deg);
  transition: 0.5s;  
  
  } 
  
  .recomended_products{
    max-width: 100% !important;
}
  
  .recomended_off_img{
    max-width:100% !important;
    max-height:100% !important;
  }
  
  @media only screen and (min-width:1920px){
    .home_slider_text {
     left:50%;
    }
  }
  
  
  /* END 19-10-21 */
  
  /* for_custom_header */
  
  .grid--no-gutters nav#AccessibleNav {
    /* padding-left: 80px; */
    flex: 0 0 40%;
}
  
.grid__item.medium-up--one-third.text-right.site-header__icons {
    flex: 0 0 40%;
    /* padding-right: 150px; */
} 
  
.site-header__icons-wrapper .site-nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: left;
}  

.logo_for_desktop {
    max-width: 170px !important;
}
  
nav.mobile-nav-wrapper.medium-up--hide.js-menu--is-open {
    z-index: 999;
}  

.cart_icon{
   max-width:30px !important;
  }
 
  
.backimg h1 {
    text-align: center;
} 
  
.product_image_Section img{
    width:100%;    
  }
 
  
@media only screen  and (max-width:1023px){
 

  
    .grid--no-gutters nav#AccessibleNav {
    padding-left: 0px;
    flex: 0 0 0%;
   }
  
.grid__item.medium-up--one-third.text-right.site-header__icons {
    flex: 0 0 0%;
    padding-right: 0px;
   }
  .site-header__icons-wrapper button.btn--link.site-header__icon.site-header__menu.js-mobile-nav-toggle.mobile-nav--open {
    display: block;
  }
/*   
  .site-header__icons-wrapper .site-nav {
    display: none;
  } */
   
  .logo_for_desktop {
    max-width: 100px!important;
  }
  
  body.template-index .shopify-section.formula-design-section .btn-section a {
    font-size:14px !important;
  }
   
  
  .down_ward.container .row .col-md-6, .down_ward.container .row .col-md-3 {
    width: 50%;
    flex: 0 0 50%;
  }
  
  } 
  
.col-md-4.mobile {
    display: none;
}
  .ingredient_index h1
  {
   font-family: 'Baskervville'!important;
    font-weight:unset!important;
  }
  #shopify-section-about .row.image .col-md-12 h1 {
    font-family: Baskervville!important;
     font-weight:unset!important;
}
  body.template-index .shopify-section.formula-design-section .row.image h1
  {
    font-weight:unset!important;
  }
  @media only screen and (max-width:767px)
  {
    .home-slider .slick-dots
    {
     bottom:50%;
    }
    #shopify-section-product_info .row.image {
    height: 200px;
}
     #shopify-section-product_info .row.image img {
    height: 100%;
    object-fit:cover;
}
    #shopify-section-product_info a.button_new_w {
    margin: 0px;
}
      a.site-header__icon.site-header__cart {
    position: absolute;
}
    .site-header__icons-wrapper .site-nav
    {
     display:none;
    }
  }
  @media only screen and (min-width:1024px) and (max-width:1365px)
  {
    .grid--no-gutters nav#AccessibleNav {
    padding-left: 40px;
    flex: 0 0 40%;
}
    .grid__item.medium-up--one-third.text-right.site-header__icons {
    flex: 0 0 40%;
    padding-right: 40px;
}
    img.js.logo_for_desktop.lazyautosizes.ls-is-cached.lazyloaded {
    margin: auto;
}
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .grid.grid--no-gutters.grid--table.site-header__mobile-nav
    {
         display: block;
         table-layout: unset;
    }
    img.js.logo_for_desktop.lazyautosizes.ls-is-cached.lazyloaded {
    margin: 0px auto;
}
}
  
  @media only screen and (min-width:768px)
  {
   body.template-product.template--product-.template--product .thumbnails_images.slick-initialized.slick-slider {
    display: none;
}
    .product-single__media
    {
      height:unset;
    }
    .thumbnails-wrapper a.text-link.product-single__thumbnail.product-single__thumbnail--product-template.active-thumb:focus {
    border-bottom: 2px solid #000;
}
  }
  
/* for_header */

.site-header {
    height:80px !important;
   padding:0 0px !important;
  }  
    
.fixed {
   
    position: fixed !important;
    top:0; left:0;
    z-index:9999;
    transform: translateY(-100%);
   
   

  }
  
 .for_header_tranforme{
    transform: translateY(0%);
    height:80px;
    transition: 1s;
  }  
  
  @media only screen and (max-width:768px){
  .site-header {
    height:60px !important;
   padding:0 0px !important;
  }
    
  .for_header_tranforme{
    transform: translateY(0%);
    height:60px;
    transition: 1s;
  }   
  
  }
  
  
/* End for_header */  
  
  
  /* Custom_header_end */
/* 10/11/2021   */
  @media only screen and (min-width:1024px){
     .home-slider .slick-dots {
       font-size: 28px;
       bottom: 80px;
    
  }
  }
    @media only screen and (max-width:850px){
      .home_slider_text h1{
        margin-top: 14px;
      }
    }