/* ---------------------- Layout ------------------------ */

.f-Gotham {
  font-family: 'Gotham' !important;
}

.f-b {
  font-weight: bolder;
}

.fs-1 {
  font-size: 50px !important;
}

.t-center {
  text-align: center !important;
}

@media (min-width: 751px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 750px) {
  .hide--mobile {
    display: none !important;
  }
}

/* ------------------- Section Header ------------------- */

header ul.site-nav li:first-child {
  margin-right: 20px;
}

/* ------------------ Section Footer ------------------  */

#shopify-section-emdesh__footer .footer_icon {
  margin-top: 0px;
  margin-bottom: 20px;
}



/* ----------------- Homepage slide section ------------------ */

.page-scroll-btn {
  cursor: pointer;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 9;
}

.shopify-section.index-section--slideshow .slideshow__slide .slideshow__image {
  background-attachment: fixed;   
  background-size: cover;
}

.shopify-section.index-section--slideshow  {
  cursor: pointer;
  bottom: 30px;
}

@media (max-width: 750px) {
  .page-scroll-btn {
    bottom: 15px;
  }
  .shopify-section.index-section--slideshow .slideshow {
    min-height: 250px;
  }
  .shopify-section.index-section--slideshow .slideshow__slide {
    height: 100% !important;
  }
  
  .shopify-section.index-section--slideshow .page-scroll-btn {
    bottom: 15px;
  }
}

/* ------------------- Homepage Featured Product Section */

body.template-index .shopify-section.featured_product_section {
/*   margin-top: 60px; */
}

body.template-index .shopify-section.featured_product_section .shop_pro_view {
  width: 100%;
}

body.template-index .shopify-section.featured_product_section .shop_pro_view a {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 750px) {
  body.template-index .shopify-section.featured_product_section .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  body.template-index .shopify-section.featured_product_section .shop_pro_view a {
    font-size: 12px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*  Homepage Fomular design section  */

body.template-index .shopify-section.formula-design-section .row.image {
  margin-top: 60px;
}

body.template-index .shopify-section.formula-design-section .row.image h1 {
  font-family: 'Gotham';
  font-weight: bolder;
  font-size: 60px;
}

body.template-index .shopify-section.formula-design-section .btn-section {
  margin-top: 20px;
}

body.template-index .shopify-section.formula-design-section .btn-section a {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
}




/* ============================================================ Shop Landing page ====================================================  */

/* ----------------- Hero banner */

.shop_page.parallax-window {
  position: relative;
}

@media (max-width: 750px) {
}


/* ------------------ Featured Products */

#shopify-section-shop .container.shop_product {
  margin-top: 80px;
}

.shop_product span.product-title {
  font-size: 18px;
}

.shop_product .info {
  margin-top: 35px;
}

.shop_product span.product-price {
  font-size: 12px;
  margin-top: 15px;
}

.shop_product .shop_pro_view input[type=submit] {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 750px) {
  #shopify-section-shop .container.shop_product .row {
    margin-left: 0px;
    margin-right: 0px;
  } 
}

.ingredient_index h1 {
  font-family: 'Gotham';
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
}



/* ==================================================================== Aboutus Page ===============================================================  */

body.template--page-about {

}

body.template--page-about #shopify-section-hero .hero-wrapper {
  position: relative;
}

body.template--page-about #shopify-section-hero .hero-wrapper .iconss {
}


@media (max-width: 750px) {
  body.template--page-about #shopify-section-hero .hero-wrapper div#Hero-hero {
    padding:60px 0px;
  }
}

/* ================================================================= Skin infographic Page ======================================================== */

.skin_info {
  position: relative;
}

body.template--page-skin_infographic .down_ward .header p {
  display: inline-block;
  font-size: 14px !important;
  padding-left: 45px;
  padding-right: 45px;
}

body.template--page-skin_infographic .recomm h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

body.template--page-skin_infographic .recomm .ctm_text {
  font-size: 24px !important;
  height: auto;
  max-width: 850px;
}

.product_our h1 {
  font-size: 28px;
}
@media screen and (max-width:480px) {
	body.template--page-about #shopify-section-hero .hero-wrapper div#Hero-hero {
    padding: 20px 0;
}
  body.template--page-about #shopify-section-hero .hero-wrapper div#Hero-hero h2.h1.mega-title.mega-title--large {
    font-size: 20px;
}
}