<style>
  .shipping_heading h1 {
    color: #686058;
    font-size: 50px;
    font-family: Baskerville;
}
  .shipping_heading p {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Gotham';
    color: #686058;
}
  .returns h1 {
    color: #686058;
    font-size: 30px;
    font-family: Baskerville;
}
  .returns p {
    
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gotham';
    color: #605860;
}
  .returns {
    padding-top: 40px;
    width:75%;
}

  @media only screen and (max-width:768px)
  {
    .returns
    {
     width:100%;
    }
  }
  
  
  /* 9/8/21 */
  
  @media only screen and (max-width:1024px){
  
    .shipping_heading h1{
    
      font-size:30px;
    
    }
    
    .shipping_heading p {
    font-size: 14px;
    }
     
    .returns h1 {
    font-size: 22px;
    }
  
    .returns p {
    font-size: 12px;
    }  
    
  }
  @media only screen and (min-width:1920px)
  {
    .returns
    {
     width:100%;
    }
  }
  
  /* END  9/8/21 */
  
</style>
{% section 'shipping_returns' %}