<style>
  .container.policy {
    border-bottom: 1px solid #686058;
}
 .privacy h1 {
    color: #686058;
    font-family: Baskerville;
    font-size: 50px;
}
  .privacy p {
    font-size: 16px;
    color: #686058;
    font-family: 'Gotham';
    margin-bottom:unset;
}
 .privacy h6 {
    color: #686058;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: 'Gotham';
    font-weight: bold;
   padding-top:18px;
}
  .privacy_block h3 {
    color: #686058;
    font-size: 35px;
    font-family: Baskerville;
}
  .container.privacy_block {
    padding-top: 40px!important;
    border-bottom: 1px solid #686058;
}
  .privacy_block .row .col-md-6 ul li {
    list-style: none;
    font-family: 'Gotham';
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 13px;
}
  .container.policy_block {
    padding-top: 40px;
    border-bottom: 1px solid #686058;
}
  .policy_block h1 {
    font-size: 35px;
    color: #686058;
    font-family: baskerville;
}
  .policy_block p {
    color: #686058;
    font-family: 'Gotham';
    font-size: 17px;
    width:80%;
}
 .policy_block p:last-child {
    margin-bottom: 40px;
}
  .privacy_block .row {
    margin-bottom: 40px;
}
  .container.policy_block
  {
    padding-top:40px!important;
  }
  @media only screen and (max-width:768px)
  {
   div#shopify-section-privacy_policy {
    margin: 0px 20px;
}
  }
  @media only screen and (min-width:1008px){
    .container.policy
    {
     padding:0px;
    }
    .container.policy_block
    {
      padding:0px;
    }
    .container.privacy_block {
     padding:0px;
    }
  }
  @media only screen and (max-width:1008px){
  .policy_block p
  {
   width:100%;
  }
    .privacy_block .row .col-md-6 {
    width: 50%;
}
  }
  
  
  @media only screen and (max-width:1024px){
  
  .privacy h1 {
    font-size:35px;
  }
  
    .privacy p {
    font-size:14px;
    
    }
    
    .privacy h6 {
    font-size:14px;
     }
    
    .privacy_block .row .col-md-6 ul li {
      
      font-size:17px;
    }
    .policy_block h1 {
      font-size:35px;
      
    }
    
    strong {
     font-size:18px;
    }
    
  }
  @media only screen and (min-width:1920px)
  {
    .policy_block p
    {
     width:100%;
    }
  }
  
</style>
{% section 'privacy_policy' %}