<style>
  #shopify-section-ingredients_section
  {
    background-image:url("https://cdn.shopify.com/s/files/1/0519/8685/8180/files/Emdash_IngredientPage_Background2_V1.png?v=1632292983");
    padding-top:50px;
  }
  
  .ingredient_card h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Gotham';
    color: #686058;
    font-weight: 700;
}
  .search {
    margin: 20px 0px;
}
 .banner_content .row .col-md-6 h1 {
    font-size: 65px;
    color: #686058;
    letter-spacing: 0px;
    font-family: baskerville;
}
.banner_content .row .col-md-6 h1 {
    padding-left: 84px;
}
.banner_content .row .col-md-6 input[type="text"] {
    margin-left: 84px;
}
  .banner_content .row .col-md-6 input[type="text"] {
    width: 265px;
    border: none;
    letter-spacing: 0px;
    color: #686058;
    font-family: 'Gotham';
}
  .banner_content .row .col-md-6 input[type="text"]:focus-visible {
    outline: none;
}
  .banner_content .row {
    padding-top: 180px;
}
  .ingredient_card h5.card-title {
    color: #686058;
    font-size: 20px;
    font-family: 'Gotham';
    letter-spacing: 0px;
    font-weight:bold;
    text-align: left;
    padding-bottom: 8px;
    padding-top:12px;
}
  .ingredient_card h6.card-subtitle.mb-2.text-muted {
    color: #686058 !important;
    font-size: 16px;
    line-height:22px;
    letter-spacing:0px;
    font-family: 'Gotham';
    font-weight: normal;
    padding-bottom: 15px;
}
  .ingredient_card p.card-text {
    color: #686058f2;
    font-size: 15px;
    font-family: 'GothamMedium';
}
  .container.ingredient_card {
    background: #F7F6F4;
}
  .ingredient_card .card {
    background: #F7F6F4;
    border: 1px solid #707070b8;
}
 
.ingredient_card .row .col-md-4 .card {
   height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
    border-radius: 0;
}
  
  
  
  .list_icon {
/*     position: absolute; */
    bottom: 20px;
}
.ingredient_card .row .col-md-4 {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.container.ingredient_card {
    background: none;
}
.container {
    max-width: 1185px;
}
  .list_term strong {
    color: #686058;
}
  
.ingredient_card .load-more {
    display: none !important;
}  
  .ingredient_card a.less-more {
    text-align: center;
    display: block;
}
  .ingredient_card .view_less {
    margin: 45px 0px;
}
  @media only screen and (max-width: 768px) {
  
.ingredient_card .row .col-md-4 {
    padding-bottom: 20px;
}
.ingredient_card p.card-text {
    font-size: 11px;
    padding-top: 10px;
}

.ingredient_card h6.card-subtitle.mb-2.text-muted {
    font-size:12px;
    line-height: 18px;
}
.list_icon .list_term {
    font-size: 10px;
}
.ingredient_card h5.card-title {
    font-size: 15px;
}
 
  .row.list_icon2 {
    display: block;
}
 
    
 .ingredient_card .col-lg-4.col-md-4.col-sm-1{
      display:none;  
}  
  
 .ingredient_card .col-lg-4.col-md-4.col-sm-1:nth-child(-n+6){
    display:block !important;
} 
    
.ingredient_card .load-more {
    display: block !important;
}    
    .skin_info
    {
      height:30vh!important;
    }
    
}
  
 @media only screen and (min-width: 320px) and (max-device-width : 480px) { 
   
   	.ingredient_card .row .col-md-4 .card {
    height: 175px;
    width: 100%;
}
   i.fa.fa-tint {
    font-size: 25px;
    bottom: -15px;
    right: -124px;
}
   .ingredient_card .card-body {
    padding: 10px;
}

   .list_term p {
    margin: 0;
}
   .list_icon {
    bottom: 6px;
}
   .row {
    margin: auto;
}
   .ingredient_card p.card-text {
    font-size: 8px;
    padding-top: 0px;
}
	.banner_content .row .col-md-6 h1 {
    font-size: 27px;
}
   .banner_content .row .col-md-6 input[type="text"] {
    width: 178px;
}
   .banner_content .row .col-md-6 h1 {
    padding-left: unset;
}
   .banner_content .row .col-md-6 input[type="text"] {
    margin-left: unset;
}
}
 
  @media only screen and (max-width: 768px) {
    
	.ingredient_card .row .col-md-4 .card {
    width: 100%; 
}
    .ingredient_card .card-body {
    padding: 15px;
}
    .banner_content .row .col-md-6 h1 {
    font-size: 45px;
}
     .text-center .mega-subtitle p
     {
      font-size:10px;
       width:84%;
     }
}

   @media only screen and (max-width: 1040px) {
     
    .ingredient_card .row .col-md-4 .card {
    width: 100%;
}
     .ingredient_card p.card-text {
    font-size: 12px;
}
    
     .ingredient_card h1
     {
      font-size:15px;
     }
   
}
  
  #shopify-section-hero2 > div {
  	position: relative;
  }
</style>



{% section 'hero2' %}
{% section 'ingredients_section' %}
