<style>
  .term h1 {
    font-size: 50px;
    font-family: Baskerville;
    color: #686058;
}
  .term h5, .term p, .term h6 {
    color: #686058;
    font-family: 'Gotham';
    font-size: 16px;
}
  .term h5
  {
   font-weight:bold;
    padding-top:15px;
  }
  .term h6
  {
     margin-bottom:unset;
  }
  .content_widget {
    border-top: 2px solid #686058;
    padding: 50px 0px;
    color: #686058;
    font-family: 'Gotham';
}
  .content_inner {
    width: 80%;
}
  .pd-bm {
    padding-bottom: 40px;
}
  li.list_term_services {
    text-decoration-line: underline;
    font-size: 20px;
    margin-bottom: 13px;
    font-family: 'Gotham';
    font-weight: bold;
}
 .content_over p {
    color: #686058;
    font-size: 17px;
}
  h2.list_header {
    font-family: 'baskerville';
    font-size: 35px;
    text-transform: capitalize;
}
  .container.term {
    padding-bottom: 44px;
}
  .container.pd-top {
    border-top: 2px solid #686058;
    padding-top: 47px;
}
  h1.content_heading {
    font-family: 'baskerville';
    font-size: 35px;
    color: #686058;
}
  #shopify-section-Term_services .content_widget:last-child() {
    border-bottom: unset;
}
  @media only screen and (max-width: 768px) {
  
 .content_inner {
    width: 100%;
}
    .main-content .shopify-section {
    margin: 0px 20px;
}
    .col-md-6 {
    width: 50%;
}
    .pd-bm .col-md-6 {
    width: 50%;
}
    .term h1 {
    font-size: 35px;
}
}
  @media only screen and (min-width:1920px)
  {
   .content_inner{
     width:100%;
   }  
  }
</style>
{% section 'Term_services' %}