<style>
  .index-section--flush:last-child{
  	margin-bottom: 0;
  }
.about-banner .text-center .mega-subtitle p {
    font-family: Gotham;
    font-style: normal;
    letter-spacing: 0;
    font-size: 23px;
    font-weight: normal;
    color: #686058;
    opacity: 1;
    margin-top: 18px;
    max-width: 90%;
    text-shadow: 0 0 black;
}

  .perform_content h5 {
    color: #686158;
    font-size: 32px;
    font-family: 'Baskervville';
    padding-bottom:25px;
    margin:0px;
}
  .perform_content p {
    color: #686158;
    font-family: 'Gotham';
    font-size: 18px;
    padding-top: 0px;
}
  .perform_img img {
    margin: 0px auto;
    display: block;
}
  .container.performance {
    padding-top: 40px;
    padding-bottom:40px;
}
  div#shopify-section-about {
    background: #F7F6F4;
}
  .performance .row:nth-child(2) {
    flex-direction: row-reverse;
    justify-content:center;
    padding-top:15px;
}
  .our_beauty .row .col-md-12 h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Gotham';
    font-weight: 600;
    color: #686058;
}
.our_beauty .circle_content h5 {
    text-align: center;
}
  .our_beauty .circle_content p {
    text-align: center;
}
  .container.our_beauty {
    padding-bottom: 50px;
}
  .col-md-4.tst {
    padding-top:25px;
    padding-bottom:25px;
}
  #shopify-section-about .rowss
  {
    margin-top:unset;
  }
.performance .row.bg_img:nth-child(1) .perform_img {
    padding: 80px;
    padding-top: unset;
}
  .performance .row.bg_img:nth-child(3) .perform_img {
    padding: 60px;
    padding-top: unset;
}
  

 
</style>
<div class="about-banner">{% section 'hero' %}</div>
{% section 'about' %}

